[2021-04-13 07:54] marquiz commented on #440
Now available in artifacthub.io:
https://artifacthub.io/packages/helm/node-feature-discovery/node-feature-discovery

Closing this issue

[2021-04-13 07:54] #440 closed

[2021-04-13 08:15] marquiz opened #510 "Add README to Helm chart"
**What would you like to be added**:

Add a separate README to Helm chart. E.g. shortly introducing NFD and describing deployment via Helm.

**Why is this needed**:

Better use experience. Would be available with `helm show readme` and in [artifacthub.io](https://artifacthub.io/packages/helm/node-feature-discovery/node-feature-discovery), for example.

[2021-04-14 05:19] mythi commented on #328
@marquiz I did a bit of homework and concluded that the existing information is enough (and, FWIW, exactly the same as what `/proc/cpuinfo` is going to provide as `flags`)

this can be closed

[2021-04-14 09:49] robertdavidsmith opened #511 "When --verify-node-name is on, respect either SubjectAlternativeName and/or wildcards"
Hi,

Using --verify-node-name is currently pretty painful, while it's easy enough to produce a certificate per node with Helm/CertManager, there is no clean way to get a different certificate into every pod with a DaemonSet.

It would be better if one certificate could cover all nodes.

Can we have an alternative way of securing this?
- CommonName wildcard support
- SubjectAlternativeName support

[2021-04-14 10:44] marquiz commented on #328
Thanks for the update. Let's close this then and re-open (or submit a new issue) if needed
/close

[2021-04-14 10:44] #328 closed

[2021-04-14 11:04] marquiz commented on #511
@robertdavidsmith thanks for bringing this up

I'm painfully aware of this 😓

I think `--verify-node-name` is actually very badly out-of-date as SSL common name is kind of deprecated 😬

I think we should definitely add support for SubjectAlternativeName. How about wildcards in SubjectAlternativeName? We could keep the CommonName for some time for backwards compatibility but I wouldn't add wildcard

[2021-04-14 21:14] robertdavidsmith commented on #511
Ok, I'll do this, might be a few days though due to other commitments

Suggest just using https://golang.org/pkg/crypto/x509/#Certificate.VerifyHostname - this uses SubjectAlternativeName, and it looks like it supports limited wildcards (* on left hand side only).

[2021-04-15 04:35] marquiz commented on #511
Cool, thanks!

Sounds good 👍

[2021-04-16 15:51] robertdavidsmith commented on #511
https://github.com/kubernetes-sigs/node-feature-discovery/pull/514

[2021-04-20 17:49] marquiz opened #518 "Release v0.8.2"
## Release Checklist

- [x] Verify that the changelog in this issue is up-to-date
- [x] Prepare `release-0.$MAJ` release branch
  - [x] Run `scripts/prepare-release.sh $VERSION` to turn references to point to the upcoming release
        (README, deployment templates, docs configuration, test/e2e flags), submit a PR agains the release branch
  - An OWNER prepares a draft release
    - [x] Create a

[2021-04-20 20:47] robertdavidsmith commented on #511
Thanks for merging the above PR @marquiz !

It would be great if someone could make another release, the last appears to be v0.8.1 from 6th April 2021.

[2021-04-21 00:12] ArangoGutierrez commented on #518
Usually point releases are to address some security or bug, could we add that to this issue, to make it clear, why this point release is needed and can not wait for v0.9.0
I think is good for the git logs here

[2021-04-21 07:16] marquiz commented on #518
Fair point and question.

I consider #516 actually a bug fix because `--verify-node-name` is virtually broken, currently, as a result of the recent deprecation of CommonName.

#517 is debatable. However, It's a very minimal, fully backwards compatible addition that would help others (NVIDIA, hopefully) align with the upstream.

I'm open to comments and thoughts.

[2021-04-21 07:58] rbq commented on #518
I think communicating compatibility with gpu-feature-discovery (and asking for the fork to be abandoned) is something that makes sense with the release of a new minor (or even major) version.

But I don't really like the waiting part. As a user I'm getting the impression that it is a bug, kind of. At least nobody realized that the existing software feature hadn't actually been exposed via Helm. Th

[2021-04-21 11:23] adrianchiris commented on #518
There are other flags that are not yet exposed via Helm. as an opensource community we welcome contributions to extend Helm chart to support other configurations.

@Ethyling do you know of other missing configurations in Helm that might prevent gpu-feature-discovery/gpu-operator from transitioning to nfd upstream charts ? or #515  was the only missing piece ?

From a quick skim through the two pro

[2021-04-21 12:47] Ethyling commented on #518
From what I can see, they may need to modify the way they configure the pci source as they are currently using the `--options` flag and not the config file (https://github.com/NVIDIA/gpu-feature-discovery/blob/77e0d08cb8393a00fd351e7ac66b813886b49a9f/deployments/helm/gpu-feature-discovery/charts/node-feature-discovery/templates/worker.yaml#L49)

Also, in the GPU Operator, there is a value to speci

[2021-04-27 12:10] robertdavidsmith commented on #511
Closing as https://github.com/kubernetes-sigs/node-feature-discovery/issues/518 has been made to cover releasing a new version of node-feature-discovery.

Thanks again for your help @marquiz !

[2021-04-27 12:10] #511 closed

[2021-05-05 06:52] marquiz commented on #361
/remove-lifecycle stale

[2021-05-05 06:56] marquiz commented on #361
I don't know if this is a real issue, though, as the config flag is either "tristate" or "string" type. I.e. CONFIG_FOO is either m/y or a string value. It cannot be `m`, `y` or `"true"`

[2021-05-05 11:25] jonkerj opened #520 "Expose USB device serial number"
**What would you like to be added**:

I'd like USB device serial number to be exposed / usable in rules.

**Why is this needed**:

My use case is that I have several (FTDI) USB-serial converters connected to a K8S node running software to measure utility usage in my home. They have identical vendor/product id's, but different serials. If we expose the serial into a label, I can schedule a pod to t

[2021-05-05 19:14] mythi commented on #361
@marquiz IIRC the problem was that you cannot distinguish between `m` and `y`.

[2021-05-06 14:11] #520 closed

[2021-05-07 10:51] MaxRink opened #522 "Readiness and liveliness probes"
**What would you like to be added**:
Readiness and Liveliness probes for the daemonset and the manager
**Why is this needed**:
Good practice

[2021-05-13 18:34] swatisehgal commented on #333
/cc @zvonkok @marquiz

[2021-05-14 06:40] fromanirh commented on #333
Expect the missing two PRs by monday

[2021-05-17 10:02] Ethyling commented on #518
Any update on this?

[2021-05-17 11:28] marquiz commented on #518
Regarding nvidia gpu-feature-discovery I have no idea, and it's a bit off-topic

Regarding #517, any thoughts @ArangoGutierrez @adrianchiris @Ethyling @zvonkok? As I noted above, it's tightly bounded (touches Helm deployment only, not the source code), minimal and fully backwards compatible. But, not a bug/security fix

[2021-05-17 17:29] marquiz opened #527 "Get rid of spurious feature detection errors"
**What would you like to be added**:

NFD should not print errors when detection of some feature fails because it's non-existent. For example, currently we get selinux related errors if selinux hasn't been enabled in the kernel. Another example: when detecting `foo` we possibly want to print an error if `sysfs` is not available (mount is missing) but not in the case that  `/sys/bus/foo` is missing

[2021-05-18 06:09] adrianchiris commented on #518
my 2-cent here is that #517 is minor enough for it to be OK to be included.

[2021-05-18 07:59] marquiz commented on #518
Thanks guys! I'll continue with release preparations 😎

[2021-05-18 09:06] fromanirh commented on #333
No 	Task Break Down 	PR 	Owner
1. 	NFD Topology Updater Implementation 	https://github.com/kubernetes-sigs/node-feature-discovery/pull/525 	@swatisehgal
2. 	NFD Topology Updater Documentation 	https://github.com/kubernetes-sigs/node-feature-discovery/pull/526 	@swatisehgal
3. 	NFD Topology Updater E2E tests 	https://github.com/kubernetes-sigs/node-feature-discovery/pull/528 	@fromanirh
4. 	Enable

[2021-05-18 10:34] marquiz commented on #518
#529

Draft release [here](https://github.com/kubernetes-sigs/node-feature-discovery/releases)

[2021-05-18 14:46] marquiz commented on #518
Github release page:
https://github.com/kubernetes-sigs/node-feature-discovery/releases/tag/v0.8.2

[2021-05-19 07:24] #518 closed

[2021-06-08 03:20] hsgahm opened #539 "node-feature-discovery-worker terminated often due to "failed to advertise labels: rpc error: code = Unknown des""
**What happened**:
1. Issue:
node-feature-discovery-worker terminated often due to "failed to advertise labels: rpc error: code = Unknown des" in func advertiseFeatureLabels(client pb.LabelerClient, labels Labels).
It happens about every 1~2 days.

2. check status:
kubectl describe -n nvidia pod gpu-operator-node-feature-discovery-worker-4fdtd | grep "Last State" -A4
    Last State:     Terminated

[2021-06-08 05:04] hsgahm commented on #539
One more question.
It looks "labeling request" action every 1 minute.
Is there any option to not to update label? or is there any option only request when env changed?

[2021-06-08 06:30] marquiz commented on #539
Hi @hsgahm! The issue is with nvidia gpu-operator using a very old release of nfd (v0.6.0). The issue above (sporadic crashes) was fixed in NFD v0.7.0.

Thus, I suggest to close this issue and file a bug agains nvidia gpu-operator, instead.

Yes, it does this by default.

Yes. There is the `--sleep-interval` command line flag, plus a config file option (in v0.8.0 and later) https://kubernetes-sigs

[2021-06-08 06:56] hsgahm commented on #539
I see.
Thank you.

[2021-06-08 06:56] #539 closed

[2021-06-09 13:11] marquiz commented on #477
Implementation in #536
/remove-lifecycle stale

[2021-06-09 13:12] marquiz commented on #456
/remove-lifecycle stale

[2021-06-09 13:13] marquiz commented on #467
Still under consideration
/remove-lifecycle stale

[2021-06-09 13:19] ArangoGutierrez commented on #270
I have an example side-car container that helps with this https://github.com/archspec/archspec-feature-discovery

[2021-06-10 02:29] rptaylor opened #540 "feature to allow optionally setting taints based on node properties"
**What would you like to be added**:

It would be nice if NFD could be configured with options to set node taints as well as labels, based on certain properties of nodes. Would you consider that in scope of NFD?

**Why is this needed**:
Cluster operators may wish to automatically taint nodes with certain properties, for example tainting a node that has GPUs to prevent other pods from running on it

[2021-06-10 04:22] marquiz commented on #540
Hi @rptaylor. Yes, this would be useful and I've been thinking this myself as part of the work I've done on #464 and particularly #468 which are very much on prototype level, still.

I've done some initial experiments and started to think whether it should be possible to taint only some of the nodes (a configurable proportion). WDYT? This complicates things (in implementation) quite a bit, though

[2021-06-10 19:37] rptaylor commented on #540
Okay, nice. It makes sense to me that NFD could have the flexibility and generalization to apply arbitrary properties (taints as well as labels) based on the features of nodes.

What would be the use case to only taint a portion of nodes with a given feature and configuration?

[2021-06-11 05:39] marquiz commented on #540
Reserving some of the nodes for general usage or alternatively reserving only  a fraction of the nodes for special workloads. Dunno if that is useful in practice 🤔

[2021-06-11 07:32] zvonkok commented on #540
To taint only a subset of nodes in a cluster makes kinda sense for extended resources. If a Pod is allocating an extended resource, the ExtendedResourceAdmissionWebhook will automatically tolerate the extended resource taint.

But we need to be careful when we're applying this taint. In some cases of hardware enablement usually adding the taint is when the extended resources are exposed.

It also

[2021-06-11 19:57] rptaylor commented on #540
If the extended resources are equivalent on a number of nodes, making the nodes fungible, it doesn't make sense to me to divide them into separate hard partitions. In a traditional batch system partitioning creates significant challenges in practice, especially at large scales, and this would be handled by fair-share scheduling instead, but that is a big missing feature of Kubernetes (I think Volc

[2021-06-13 13:53] anthr76 commented on #426
Any updates on this?

[2021-06-30 12:11] anta5010 commented on #426
@marquiz Are there any plans to progress with this issue?
It looks like the main problem is not in updating the Makefile. This change is quite simple if buildx can be used. But, before creating a PR the CI pipelines need to be updated to support buildx. Do you know if it's possible  and what help is required?

[2021-07-07 09:25] marquiz commented on #508
I now submitted a draft PR that should solve this issue (#550). It allows templating of the names of custom rules, making it possible to generate a custom label for each matching pci device.
/remove-lifecycle stale

[2021-07-07 09:26] marquiz commented on #485
/remove-lifecycle stale

[2021-07-07 09:33] marquiz commented on #479
Maybe something like `nfd-worker config` could be useful. It should dump the core config plus all the source configs, too.

/remove-lifecycle stale

[2021-07-07 09:33] marquiz commented on #479
Patches are welcome 😉

[2021-07-07 09:34] marquiz commented on #478
/remove-lifecycle stale

[2021-07-07 09:35] marquiz commented on #468
Been working on a prototype building on top of #464 and #550. I'll submit a RFC version soon.
/remove-lifecycle stale

[2021-07-07 09:36] marquiz commented on #398
/remove-lifecycle stale

[2021-07-07 11:24] marquiz commented on #426
Hmm, kubernetes test-infra might actually support docker buildx nowadays so we could do this. What needs to be done is

- update Makefile
- (probably) update `scripts/test-infra/*` to build images on all architectures
- update docs (`docs/get-started/deployment-and-usage.md` and `docs/advanced/developer-guide.md` quickly come to mind)

Patches are welcome 😄

[2021-07-07 11:44] marquiz commented on #456
#548 allows the usage of `profile.node.kubernetes.io` label namespace (by default, without any extra configuration)

[2021-07-07 11:47] marquiz commented on #467
Not sure how this would work with #468 where label rule processing would be one in nfd-master.

[2021-07-07 11:50] marquiz commented on #510
/kind documentation

[2021-07-08 15:49] marquiz commented on #468
...and we have #553

[2021-07-15 12:11] yank1 opened #554 "Add support to detect whether running on virtual machine or bare metal"
**What would you like to be added**:

Like [Virt What](https://linux.die.net/man/1/virt-what)，user can get node whether running on virtual machine or bare metal easily.

**Why is this needed**:

It is useful for kubernetes cluster sizing. VM and bare metal are different. VM may be overcommited , so it's not as powerful as bare-metal.

[2021-07-26 10:49] mythi commented on #554
@yank1 `cpuid` source gives you `HYPERVISOR`. Would that be sufficient?

[2021-08-03 03:50] qq772819554 opened #557 ""feature.node.kubernetes.io/pci-10de.present": "true"这是怎么扫描出来的"
我用vmware虚拟机创建的server，没有gpu卡，但是nfd扫描出来所有机器都打上了"feature.node.kubernetes.io/pci-10de.present": "true"这个标签，我在自己机器上测试，然后我在生产环境也是这个样子，没有gpu卡的机器也有这个标签，因为https://github.com/NVIDIA/gpu-feature-discovery NVIDIA这个gpu特征发现的daemonset是根据"feature.node.kubernetes.io/pci-10de.present": "true"这个特征标签来选择pod运行的
![image](https://user-images.githubusercontent.com/41141325/127954903-232da5dc-efb8-4d9e-9c6d-45da8501b9de.pn

[2021-08-04 22:48] ArangoGutierrez commented on #557
From google translate:

[2021-08-04 22:52] ArangoGutierrez commented on #557
@qq772819554  could you provide more information about how you build your server in order to reproduce this issue, I have not run into this and I use VM's a lot to test NFD

[2021-08-04 23:01] ArangoGutierrez commented on #485
++ I like this idea

[2021-08-04 23:28] ArangoGutierrez commented on #398
/assign

[2021-08-05 01:50] ArangoGutierrez commented on #426
Best example I could find is https://github.com/kubernetes-sigs/service-catalog/blob/master/Makefile#L343
but I am not big fan of cross compilation tho, so the question is, do we want to do it like that?

[2021-08-05 01:50] ArangoGutierrez commented on #426
https://kubernetes.slack.com/archives/C01A82FKSQK/p1628088075000500

[2021-08-05 01:50] ArangoGutierrez commented on #485
/assign

[2021-08-05 01:51] ArangoGutierrez commented on #522
/assign

[2021-08-05 01:51] ArangoGutierrez commented on #554
/assign

[2021-08-05 01:53] ArangoGutierrez commented on #557
/label help-wanted

[2021-08-05 01:53] ArangoGutierrez commented on #557
/help-wanted

[2021-08-05 06:11] mythi commented on #557
the verbose `lspci` output would also be helpful

[2021-08-09 11:02] marquiz commented on #426
With docker buildx you shouldn't need that. Just something like `docker buildx build --platform linux/arm64 .` (haven't experimented this myself, though). Thus, I think we should be ok with relatively simple modifications to the Makefile

[2021-08-09 21:44] ArangoGutierrez commented on #426
https://github.com/kubernetes/test-infra/pull/22977 enables `docker buildx` on prow

[2021-08-09 22:05] ArangoGutierrez commented on #426
https://github.com/kubernetes/test-infra/issues/16588

[2021-08-10 05:40] utegental commented on #426
https://hub.docker.com/r/raspbernetes/node-feature-discovery - these guys have done multi-arch support several months ago. I don't know how exactly that was done, but this container works without issues.

[2021-08-10 06:20] marquiz commented on #426
I think they use docker buildx: https://github.com/raspbernetes/multi-arch-images

[2021-08-10 11:19] #477 closed

[2021-08-10 13:06] ArangoGutierrez commented on #426
https://hub.docker.com/r/raspbernetes/node-feature-discovery  is not a kubernetes-sigs repo, using prow, I think the main idea is to use prow as our official image builder right?

[2021-08-10 20:11] ArangoGutierrez opened #562 "Default Branch Migration"
This issue is a tracker of needed tasks to migrate the default branch of the repo from `master` to `main`.

Following https://www.kubernetes.dev/resources/rename/ guidance

### Anytime

These changes are **non-disruptive**  and can be made anytime before renaming
the branch.

- [x] If a presubmit or postsubmit prowjob triggers on the `master` branch
  (`branches` field of the prowjob), add the `ma

[2021-08-10 21:24] anthr76 commented on #426
If prow isn't sufficient to emulate other arch's and there isn't infra to natively build on other arch's why use it? Is there a requirement? I know of other sigs building multi-arch.

Other arch's exist and this helps adoption greatly <3

[2021-08-11 00:23] ArangoGutierrez commented on #479
/assign

[2021-08-11 06:42] marquiz commented on #426
Yes. We use k8s test infra (prow) for CI and we're staying there as that tightly coupled with k8s container image hosting (k8s.gcr.io). Moreover, we want to serve all the container images from a single registry.

I'm a bit lost here 🧐 As I commented earler, afaiu prow nowadays supports multiarch builds via docker buildx. And afaiu, Raspbernetes uses the same build method.

We just need a PR in NFD

[2021-08-11 06:52] marquiz commented on #562
Thanks @ArangoGutierrez for the extensive checklist. On top of my head, in addition to these, in NFD we need to
- [ ] Update `scripts/github/update-gh-pages.sh` to handle `main`
- [ ] Update `docs/`
  - [ ] Update references to refer to main branch
  - [ ] Update `docs/_config.yml`

[2021-08-11 09:22] #510 closed

[2021-08-11 10:41] marquiz opened #565 "Release v0.9.0"
## Release Checklist

- [x] All [OWNERS](https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/OWNERS) must LGTM the release proposal
- [x] Verify that the changelog in this issue is up-to-date
- [x] For major releases (v0.$MAJ.0), an OWNER creates a release branch with
      `git branch release-0.$MAJ master`
- [ ] Prepare `release-0.$MAJ` release branch
  - [x] An OWNER creates a

[2021-08-11 13:16] adrianchiris commented on #565
looking at, Github milestone v0.9.0

are #523 #558 planned for v0.9.0 ?

[2021-08-11 15:28] marquiz commented on #565
#558 yes, via #398

I wasn't planning on pending #523

[2021-08-11 16:20] adrianchiris commented on #565
ack :)
/lgtm

[2021-08-11 16:22] ArangoGutierrez commented on #565
Could we also fit into `v0,9.0` this PR https://github.com/kubernetes-sigs/node-feature-discovery/pull/563 ? I am working on the requested changes ASAP

[2021-08-11 18:31] marquiz commented on #565
Sure, if you're working on that. Added #522 to the milestone.

[2021-08-11 20:30] ArangoGutierrez opened #566 "FIx golint warnings"
our go report stills return A+ but our `golint` is down to 43%, we should take care of some of those warnings

https://goreportcard.com/report/github.com/kubernetes-sigs/node-feature-discovery#golint

/label help-wanted

[2021-08-11 20:30] ArangoGutierrez commented on #566
/good-first-issue

[2021-08-11 21:33] ArangoGutierrez commented on #554
/good-first-issue
/help

[2021-08-11 21:34] ArangoGutierrez commented on #361
/remove-lifecycle stale
/bugzilla refresh
/help

[2021-08-11 21:35] ArangoGutierrez commented on #361
/good-first-issue

[2021-08-11 21:36] ArangoGutierrez commented on #270
/help
/good-first-issue

[2021-08-11 21:37] ArangoGutierrez commented on #333
/kind/feature

[2021-08-11 21:38] ArangoGutierrez commented on #333
/label kind/feature

[2021-08-11 21:40] ArangoGutierrez commented on #333
/kind feature

[2021-08-11 22:53] ArangoGutierrez commented on #565
/kind release

[2021-08-12 03:57] bishtsaurabh5 commented on #566
/assign

[2021-08-12 07:17] vaibhav2107 opened #567 "Typing error in https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/docs/get-started/deployment-and-usage.md"
In https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/docs/get-started/deployment-and-usage.md,
under the section **NFD-Worker**,
`This assures re-labeling on regular intervals capturing changes in the system configuration and mames sure that new nodes are labeled as they are added to the cluster.`

`mames` shoud be written as make

[2021-08-12 07:39] marquiz commented on #567
Thanks for noting this @vaibhav2107. Are you willing to contribute a PR fixing this?

/good-first-issue
/help

[2021-08-12 07:42] vaibhav2107 commented on #567
@marquiz sure, will fix this.

[2021-08-16 07:29] Evalle commented on #567
/assign vaibhav2107

[2021-08-17 14:46] kmhaeren commented on #426
+1

[2021-08-18 15:29] ArangoGutierrez commented on #398
Fixed in  #573
/close

[2021-08-18 15:29] #398 closed

[2021-08-18 15:44] #527 closed

[2021-08-18 16:38] ArangoGutierrez commented on #565
/lgtm

[2021-08-18 16:40] #522 closed

[2021-08-18 17:49] marquiz commented on #565
ping @zvonkok @Ethyling, anything to add?

Planning to cut a release already this week

[2021-08-18 17:51] Ethyling commented on #565
/lgtm

[2021-08-18 18:30] ArangoGutierrez commented on #565
@marquiz CHANGELOG needs to be updated I guess

[2021-08-19 13:15] marquiz commented on #565
Yup, now updated.

[2021-08-20 11:42] marquiz commented on #565
Release page in Github:
https://github.com/kubernetes-sigs/node-feature-discovery/releases/tag/v0.9.0

[2021-08-20 12:10] marquiz commented on #565
Done here
/close

[2021-08-20 12:10] #565 closed

[2021-08-23 11:28] jonkerj commented on #426
FWIW, I build (local) multiarch (arm64/amd64) docker images of NFS using this commandline:

[code]

Should not be too difficult to patch up the makefile to do this by default. Maybe it needs some var containing the supported platforms, it's a matter of taste.

[2021-08-23 12:25] ArangoGutierrez commented on #426
@jonkerj running your command returns

[code]

[2021-08-23 12:34] ArangoGutierrez commented on #426
After splitting out the build by platform, is seems to work ok -> https://github.com/kubernetes-sigs/node-feature-discovery/pull/582/commits/cbd42af2b31c08545180dc456c8d256dba404972

[2021-08-23 12:40] jonkerj commented on #426
It could be a feature/limitation of your docker environment/buildx initialisation, above invocation works for me (docker 20.10.8 / buildx v0.6.1 / moby/buildkit:buildx-stable-1)

[2021-08-23 13:51] jonkerj commented on #426
The [Raspbernetes project](https://github.com/raspbernetes/multi-arch-images) automatically builds multi-arch images of several projects, including NFD. You could take a look at [the workflow file](https://github.com/raspbernetes/multi-arch-images/blob/master/.github/workflows/node-feature-discovery.yml), which essentially wraps `docker buildx build`

[2021-08-23 14:31] jonkerj opened #584 "0.9.0 helm chart fails to create worker container on hosts without /usr/src"
**What happened**:
I upgraded from 0.8.2-devel to 0.9.0, and the worker container does not get created:

[code]

**What you expected to happen**:
The worker to run

**How to reproduce it (as minimally and precisely as possible)**:
- Get yourself a Kubernetes node that does not have a `/usr/src`
- Install NFD with at least 1 worker scheduled to that node

**Anything else we need to know?**:
I am ru

[2021-08-23 18:14] ArangoGutierrez commented on #426
Is not "my" environment, is kubernetes/test-infra prow environment, the one we use for all NFD CI and image building

[2021-08-23 18:47] marquiz commented on #426
@ArangoGutierrez thanks for working on this! Where did you see that error? I'm looking at #582 and only see a mock-related error that should be easy to fix

[2021-08-23 18:48] ArangoGutierrez commented on #426
The first run failed, then I sort of fixed it and amended the commit

[2021-08-24 11:43] marquiz commented on #584
I didn't even think about this possibility when reviewing the related PR (#519)🤔  I would be inclined to actually drop `/usr/src` from the default mounts so that the default deployment(s) would be usable in all environments. In addition to the Helm chart the customize deployment needs to be changed in sync.

Ping @jschintag, any thoughts/comments, does your usage scenario require `/usr/src`?

[2021-08-24 12:13] jschintag commented on #584
The PR was mostly necessary for s390x, because in CoreOS the `/boot` does not contain the kernel-config. It is only available under `/usr/lib/modules`. I added `/usr/src` because half the paths NFD searches for the config are there.
[code]
https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/source/internal/kernelutils/kernel_kconfig.go#L70-L79

From my perspective we can drop `/u

[2021-08-24 13:31] jonkerj commented on #584
I just changed the default, so users (eg s390x) can opt in (instead of opt out).

[2021-08-24 13:39] marquiz commented on #584
Thanks for quick reply @jschintag

Yup, that made sense, back then 😄

👍  Let's do that

[2021-08-25 07:25] vaibhav2107 commented on #567
Fixes in #575

[2021-08-25 07:32] #567 closed

[2021-08-30 18:16] vaibhav2107 commented on #361
Hi, I am new to this project and would love to contribute.
Can I work on this issue.

[2021-08-31 04:41] marquiz commented on #361
Hi @vaibhav2107! Sure, you're very welcome to work on this.

I have been thinking how to fix this without breaking existing usage 🤔 I think one way to go would be to specify a separate type for tristate (i.e. *m/y* type) flags. Then change `ParseKconfig` to return `map[string]interface{}` and use a type switch in the caller's end to "do the right thing"

[2021-08-31 08:11] vaibhav2107 commented on #361
Thanks @marquiz for the guidance.

[2021-08-31 19:59] vaibhav2107 commented on #361
/assign

[2021-09-01 16:59] vaibhav2107 opened #588 "Broken Link"
In https://kubernetes-sigs.github.io/node-feature-discovery/v0.9/get-started/deployment-and-usage.html ,
Under the section **Chart parameters**,
the link in the description of `imagePullSecrets` is not working properly.

[2021-09-01 16:59] vaibhav2107 commented on #588
/assign

[2021-09-02 12:52] vaibhav2107 commented on #588
Fixed in #589
/close

[2021-09-02 16:44] ArangoGutierrez opened #591 "Expand source/network"
Enhance the `source/network` https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/source/network/network.go to expose more features

**What would you like to be added**:
Info like
[code]
**Why is this needed**:
Discover available drivers supported on each network interface and support complex Network deployments

[2021-09-02 17:18] leo8a commented on #591
available drivers supported on each network interface available at the cluster may be labeled like in the below example
`"feature.node.kubernetes.io/network-<iface-name>.driver": "<driver-name>",`

for above examples, might be something like:
`"feature.node.kubernetes.io/network-ens1f0.driver": "ice",`
`"feature.node.kubernetes.io/network-ens5f0.driver": "i40e",`

[2021-09-02 17:33] marquiz commented on #591
I've been preparing for something like this 🧐 In #553 I have [this commit](https://github.com/kubernetes-sigs/node-feature-discovery/pull/553/commits/2d27193e11b225896ec27c802382b2c2fe70e033) which expands generalizes network discovery a bit. I would be inclined to add this as a customizable capability only, at least in the suggested form above. I'm dubious about the usefullness of labels that con

[2021-09-06 08:55] AshwiniGhanwat commented on #270
I am working on this issue. Please assign this issue to me.

[2021-09-06 09:17] zvonkok commented on #270
@fabiand Any requirements for kubeVirt I remember that some folks asked about CPU Model for kubeVirt as well?

[2021-09-06 09:19] zvonkok commented on #270
@marquiz @ArangoGutierrez  Should we think of a plugin system to enable such third party libs or do you think the side-car container is the way to go to extend NFDs detecting functionality?

[2021-09-06 09:20] zvonkok commented on #270
One thing I dislike is that we are still using a hostMount which can cause some pain.

[2021-09-06 09:21] zvonkok commented on #270
The other thing we thought about was a grpc plugin system a dedicated channel for extensions.

[2021-09-07 07:31] marquiz commented on #270
I would go with side-car for now. And it doesn't need to be a side-car, it can be a separate pod.

Could you elaborate a bit? What is the pain you're experiencing?

I wouldn't go there until there is a clear use case and reasoning to do this. It complicates matters - from the plugin's perspective, too, IMO. The extensions/communication is supposed to be node-local in any case.

For this particular

[2021-09-10 06:17] marquiz commented on #540
I have plans to implement this on top of #553.

@rptaylor I think I agree with you above. Partial/proportional tainting is much more complicated with problematic corner cases (e.g. with cluster auto-scaling), not to mention the problems of optimal scheduling and resource usage you talked about above.

/remove-lifecycle stale

[2021-09-10 06:28] marquiz commented on #554
Yes @yank1, shouldn't that be enough?

[2021-09-14 11:52] adpempx opened #595 "nfd-worker-daemonset.yaml.template is missing in v0.9.0"
Hi,

**What would you like to be added**:

With new release v0.9.0 we cannot find anymore:

https://github.com/kubernetes-sigs/node-feature-discovery/blob/v0.8.2/nfd-worker-daemonset.yaml.template

**Why is this needed**:

This template is incredible useful for our deployment and mainly fast.
The file is missing now. Can you please add it again with new release v0.9.0?

Please let us know.

Thanks

[2021-09-15 09:08] digambar15 commented on #270
Can someone assign this issue to   @AshwiniGhanwat as she is already working on it.

[2021-09-15 10:38] ArangoGutierrez commented on #270
/assign AshwiniGhanwat

[2021-09-15 12:14] marquiz commented on #595
Hi @adpempx! Maintaining the templates was error prone and customizing deployments was inflexible. Thus, in v0.9.0 we switched to "template-less" deployments leveraging kustomize. Unfortunately, I won't see the old templates coming back.

Can you specify in a little bit more detail your usage scenario. I believe kustomize should serve you well. You can generate the yaml with
[code]

If you only wa

[2021-09-15 14:22] leo8a commented on #591
sharing in case's useful, when multiple virtual/physical interfaces are present in the cluster node(s), physical net devices could be identified via the below command...

I'd be in favor of verbosing/improving a bit the networking labels (by default), given that cpu labels looks already great.
(sample output below)

[2021-09-16 08:20] vaibhav2107 opened #598 "Link not working"
In https://kubernetes-sigs.github.io/node-feature-discovery/v0.9/get-started/deployment-and-usage.html ,
under section **Worker configuration**
The line

The link example config is not working.

[2021-09-16 08:24] vaibhav2107 commented on #598
cc /@marquiz

[2021-09-16 08:41] marquiz commented on #598
Thanks for reporting this. Are you willing to fix this (example conf is now under deployment/...)?

[2021-09-16 18:18] marquiz commented on #591
`virtual` might be a worthy addition to the device attributes

I'm reluctant to add any device-specific labels (i.e. labels that include the network device name). Any other suggestions or wishes?

Network devices are a bit different. And even in the case of cpuid labels it's questionable how useful most of these labels really are for the end user (i.e. how many of these really are used) – it'd be

[2021-09-17 15:00] swatisehgal opened #600 "NFD-Topology updater as a oneshot job"
As a follow-up from the discussion in https://github.com/kubernetes-sigs/node-feature-discovery/pull/525, it has emerged that we should reconsider deploying nfd-topologyupdater as a oneshot job. We should  do one of the following:

1. Deploy nfd-topologyupdater only as a daemonset and remove its ability to be deployed as a oneshot job
2. Populate only capacity and allocatable (and not available) w

[2021-09-18 11:26] adpempx commented on #595
OK.

Thanks

[2021-09-18 11:26] #595 closed

[2021-09-29 15:34] vaibhav2107 opened #612 "Broken Link in Advanced Section"
In https://kubernetes-sigs.github.io/node-feature-discovery/v0.9/advanced/developer-guide.html
under the section **Customizing the build**
In `Parameterization file of e2e-tests (see example)` example link is giving 404 Error.

I think the proposed solution is to find some typo in the link.

[2021-09-29 15:36] vaibhav2107 commented on #612
/good-first-issue
/help

[2021-09-29 16:24] sandipanpanda commented on #612
/sig node
kind/documentation

[2021-09-29 16:26] sandipanpanda commented on #612
/kind documentation

[2021-09-29 17:47] krishna2603 commented on #612
Hey! I am new to open source. I went through the doc. Should I change e2e-config-sample to e2e-tests? I am a bit confused about what to do can u plz guide me?

[2021-09-29 20:15] ArangoGutierrez opened #614 "[Question] Does NFD has the ability to detect and report NIC additional capabilities?"
Does NFD has the ability to detect and report NIC additional capabilities, like SyncE, PTP, GNSS support (see Intel® Ethernet Network Adapter E810-XXVDA4T w/1588 PTP/SyncE/GNSS)? Similar question for Accelerator capabilities, like N3000, AC100, MacLaren summit.

Intel® Ethernet Network Adapter E810-XXVDA4T w/1588 PTP/SyncE/GNSS
IEEE 1588 PTP, SyncE, and GNSS, in a standard PCIe network adapter, de

[2021-10-01 12:59] marquiz commented on #467
Answering to myself^ Not very well
/close

[2021-10-01 12:59] #467 closed

[2021-10-01 17:12] mallow111 commented on #612
/assign

[2021-10-01 18:15] mallow111 commented on #612
i think the issue is fixed: https://github.com/kubernetes-sigs/node-feature-discovery/commit/dbb99c6f18c210218c8e844290f11e7ddf7149e1, please close it @vaibhav2107

[2021-10-01 18:19] vaibhav2107 commented on #612
Thanks @mallow111 for checking, thanks @krishna2603  for the fix.
/close

[2021-10-01 18:19] #612 closed

[2021-10-04 10:59] marquiz opened #616 "Helm support for topology-updater"
**What would you like to be added**:

Make it possible to deploy topology-updater with Helm. Should be conditional so that only deploy it if explicitly enabled (`Values.topologyupdater.enable` or smth)

Part of #333

**Why is this needed**:

We want to keep kustomize and Helm deployments "in-sync". We need to have topology-updater supported in Helm deployments before cutting the next release.

[2021-10-04 11:02] marquiz commented on #600
I think we could do # 2 above

[2021-10-04 11:35] marquiz opened #617 "topologyupdater: more graceful exit on error"
**What would you like to be added**:

Currently, nfd-topology-updater exits with a cryptic backtrace if `KubeletPodResourcesGetAllocatable` feature gate hasn't been enabled in kubelet. Instead of this, nfd-topology-updater should provide a human-understandable error message, exiting more gracefully.

**Why is this needed**:

Do not confuse users with backtraces

[2021-10-04 18:24] we4tech commented on #617
Hi @marquiz,
Do you have any suggestions on how I can reproduce this step locally?
Thanks

[2021-10-04 18:41] marquiz commented on #617
1. Run kubelet with `--feature-gates=KubeletPodResourcesGetAllocatable=false` (this is the default so with default k8s deployment you should be ok)
2. (In cloned NFD repo) deploy topology-updater, e.g. with `kubectl apply -k deployment/overlays/topologyupdater-job/``
3. See the logs with `kubectl -n node-feature-discovery logs <pod-name>` and you should see an ugly backtrace

[2021-10-04 18:46] we4tech commented on #617
/assign

[2021-10-04 18:46] we4tech commented on #617
Thanks @marquiz , I'll work on it.

[2021-10-05 10:18] zwpaper commented on #600
hi @marquiz, I would like to take action on this issue, but I not yet figure out what we should do exactly, should we

1. update the `kustomization` leaving NRT daemonset only
2. do nothing in NRT cmd as daemonset has an `Always` restart policy
3. only update node capacity and allocatable, and not scan pods in NRT

[2021-10-05 10:40] marquiz commented on #600
Hi @zwpaper, thanks for reaching out!

A good question, indeed 😇   Above, I was pondering that only publishing node capacity and allocatable would be a good solution but now I'm starting to think otherwise.

I'm now inclined towards this solution, drop the Job deployment alltogether. The problem I see with `Job` is that all the information is  dynamic, extended resources can be added/removed etc.

[2021-10-05 16:11] swatisehgal commented on #600
I am okay with removing the topology-updater job overlay and leaving the --oneshot parameter. I think it hits the sweet spot as it gives the ability to the user to deploy topologyupdater as a job (if they really want to) for inspection/testing/development/debugging and therefore naturally comes with consciousness that it is being deployed as oneshot job and should be considered static information.

[2021-10-05 17:07] marquiz commented on #600
@zwpaper I think we have a conclusion/consensus 😊 Drop the topologyupdater-job overlay (and related bits e.g. from base)

[2021-10-06 02:46] zwpaper commented on #616
I will try to work on this

[2021-10-06 04:01] marquiz commented on #600
Actually, in this case, that should be all as we haven't updated documentation, yet

😄  I think it is that simple, this time

[2021-10-06 13:54] #600 closed

[2021-10-20 08:50] eliaskoromilas opened #626 "deployment: Allow dictionary-like configuration of nfd-workers in Helm"
**What would you like to be added**:

The `worker.config` key in Helm values should accept an object representing the `nfd-worker.conf`, instead of a multi-line YAML string.

**Why is this needed**:

Would make configuration of nfd-workers simpler in Helm-based deployments, enabling advanced installations/revisions using just the CLI.

e.g. To enable only `pci`-related labels:

`helm install --gen

[2021-10-21 16:13] marquiz opened #630 "Helm refactor and cleanup"
**What would you like to be added**:

From the discussion in #623:

- [ ] Move the existing serviceAccount parameters under `master:`. This would break compatibility but I think it's acceptable in the current phase. I.e. `serviceAccount.name` -> `master.serviceAccount.name` (and the same for annotations)
- [ ] `rbac.serviceAccountName` and `rbac.serviceAccountAnnotations` are not taken into accoun

[2021-10-25 12:38] lianghao208 opened #634 "Installation document kubectl apply link 404"
**What happened**:

I followed the installation document, it doesn't work

[code]
It returned 404 error code. Maybe the link is not valid anymore? What is the right installation yaml link?

**What you expected to happen**:

Create resources correctly by the https://github.com/kubernetes-sigs/node-feature-discovery/deployment/overlays/default?ref=v0.9.0 link.

**How to reproduce it (as minimally an

[2021-10-25 16:34] #626 closed, assigned to nobody

[2021-10-26 12:52] #634 closed, assigned to nobody

[2021-11-02 13:39] MustDie95 opened #638 "Unexpected Kubernetes node feature-labeling as sgx-capable when SGX feature is turned off in BIOS and host has no /dev/sgx_* devices"
**What happened**:

Kubernetes node has  **feature.node.kubernetes.io/custom-intel.sgx: 'true'**  even if SGX support was forcibly turned off in BIOS

**What you expected to happen**:

Kubernetes node is not feature-labeled with SGX or this label was removed when SGX was off in BIOS and there is no /dev/sgx_* devices on host (even if this feature supported by CPU and OS).

**How to reproduce it (a

[2021-11-02 14:20] marquiz commented on #638
@mythi any thoughts?

In principle, this is not a bug of NFD itself, but merely in the rule configuration. Where is that config maintained? However, there might be something that would be good to add to NFD to make proper detection of SGX easier (possible without custom hooks or sidecar containers).

[2021-11-02 14:37] MustDie95 commented on #638
@marquiz, I think the rule metioned above in nfd-worker.conf was added by "Intel Software Guard Extensions (SGX) device plugin for Kubernetes" (https://github.com/intel/intel-device-plugins-for-kubernetes/blob/main/deployments/sgx_nfd/nfd-worker.conf) so you are right, NFD itself is not responsible for this behavior.

[2021-11-02 14:42] MustDie95 commented on #638
It looks I should been address this issue to SGX device plugin maintainers rather the NFD

[2021-11-02 14:43] marquiz commented on #638
Yeah, I suggest to submit an issue there, too. But we can keep this one open until a solution is found.

[2021-11-02 14:51] MustDie95 commented on #638
https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/docs/get-started/features.md#custom

By the way I cant find how to detect the presence of /dev/sgx_* devices with attributes/methods available in this Doc.
So plugin developers has no way to detect is SGX functional properly in my case..

[2021-11-02 19:01] marquiz commented on #638
That's correct. It's not possible without using hooks or side-car containers (doing the dev node detection).

I wonder if there is some other reliable way of detecting this apart from looking at the devices directly. @mythi ??

[2021-11-02 19:22] mythi commented on #638
You can enumerate the cpuid leaf 12h for SGX EPC sections and non-zero value means the BIOS has put aside memory for SGX. `klauspost/cpuid` supports this so it could be added to NFD pretty easily.

Our `sgx_epchook` NFD hook does that but it's run on nodes with `intel-sgx: true` label so the "0 EPC sections" is not taken into account *while* creating the label.

[2021-11-03 05:19] marquiz commented on #638
Hmm, sounds like we'd need to add more capabilities to the cpu source 🧐

[2021-11-03 05:49] mythi commented on #638
`cpu` source is probably easy but any suggestions how to make it available to `custom`?

[2021-11-03 07:13] marquiz commented on #638
#468 (of which #464 should be enough)

[2021-11-04 19:34] Walnux commented on #638
I found some interesting behaviour on NFD side, after doing some tests from my side.

I have a Server with SGX support by default(which means the BIOS is set up properly and the Kernel driver works properly). After I start NFD using the same way mentioned by @MustDie95.  Everything works fine.
Using command to check the label.
$ kubectl get nodes -o json | jq .items[].metadata.labels | grep sgx

[2021-11-04 20:21] mythi commented on #638
That's because the kernel also checks the MSR registers for "BIOS enabled" and the cpuid package checks cpuid leafs only.

[2021-11-04 21:05] marquiz commented on #638
Yeah, nfd's cpuid does not parse `/proc/cpuinfo` but uses the cpuid instruction, instead

[2021-11-07 16:58] vaibhav2107 commented on #478
/remove-lifecycle rotten

[2021-11-10 05:02] vaibhav2107 commented on #566
/remove-lifecycle stale

[2021-11-10 05:03] vaibhav2107 commented on #562
/remove-lifecycle stale

[2021-11-10 13:56] ArangoGutierrez commented on #456
/remove-lifecycle rotten

[2021-11-11 08:02] vaibhav2107 commented on #479
/remove-lifecycle stale

[2021-11-12 11:28] mythi commented on #130
/reopen
/remove-lifecycle rotten

I'll be working on addressing this.

[2021-11-16 11:41] marquiz opened #650 "helm: better support parallel deployments"
**What would you like to be added**:

Spun out from https://github.com/kubernetes-sigs/node-feature-discovery/pull/640#issuecomment-968687743:

We should properly support multiple parallel Helm deployments. That is, sufficiently isolate them to avoid races/clashes

**Why is this needed**:

Helm makes it possible to have multiple parallel deployments and we should try our best to support this

[2021-11-16 11:47] marquiz opened #651 "docs: document the purpose of different deployment options"
**What would you like to be added**:

Better document the purpose of different deployment options.

Spun off of https://github.com/kubernetes-sigs/node-feature-discovery/pull/640#issuecomment-968687743

**Why is this needed**:

Helpl users better understand which deployment option to pick. Help developers to better understand the deployment strategies.

[2021-11-18 06:05] vaibhav2107 opened #658 "Link to Slack channel is not working"
In https://kubernetes-sigs.github.io/node-feature-discovery/v0.9/contributing/,
the link to Kubernetes Slack is not working.

[2021-11-18 06:05] vaibhav2107 commented on #658
/assign

[2021-11-18 06:13] vaibhav2107 commented on #658
Fixes in #659

[2021-11-18 08:19] vaibhav2107 commented on #658
/close

[2021-11-18 08:19] #658 closed

[2021-11-19 02:12] we4tech commented on #566
/assign

[2021-11-21 17:04] ohthehugemanatee commented on #426
If there's not going to be support for ARM, we should:

- mention in the README.
- adjust the nfd-worker daemonset and nfd-master deployment to have a nodeSelector for `kubernetes.io/arch: amd64`

[2021-11-22 06:57] #617 closed

[2021-11-23 13:10] ArangoGutierrez commented on #468
we are getting ready for V0.11.0 !!!!

[2021-11-24 13:30] #130 closed

[2021-11-25 12:38] reenakabra opened #674 "Add support to detect whether the node has storage"
Is there a possibility that NFD can set label indicating the storage attached to node and type of storage. These are the disks other than the ones used by operating system and can be formatted and used by storage vendors. Information like the capacity and type of  disks can be helpful.

Let me know your thoughts on this.

[2021-11-25 15:29] marquiz opened #676 "Drop the iommu feature source"
**What would you like to be added**:

I'd like to drop the iommu feature source. It has only one feature `enabled` that I doubt nobody uses. This could be replaced by per pci device attribute(s).

Plan:
- v0.10.0: mark as deprecated, disable by default
- drop after two releases (in v0.12.0)

If we get feedback that people are using this we need to re-evaluate the plan

**Why is this needed**:

Sim

[2021-11-25 15:56] marquiz commented on #674
With #649 we added capability to detect block devices. Currently, we only detect few queue-related attributes (`rotational`, `dax`, `nr_zones` and `zoned`) but new attributes can easily be added if there is a clear use case for those.

Related to this, I don't see use adding any storage-specific labels that would be generated by default. Merely, the new block attributes are available for vendor/ap

[2021-11-26 09:48] marquiz opened #678 "Release v0.10.0"
## Release Checklist

- [x] All [OWNERS](https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/OWNERS) must LGTM the release proposal
- [x] Verify that the changelog in this issue is up-to-date
- [x] For major releases (v0.$MAJ.0), an OWNER creates a release branch with
      `git branch release-0.$MAJ master`
- [ ] Prepare `release-0.$MAJ` release branch
  - [x] An OWNER creates a

[2021-11-26 10:09] marquiz commented on #508
@kpouget #550 should have you covered.

An example nfd-worker config for creating "<device>" and "<class>-<device>" labels of all Intel PCI devices on the system:

[code]

/close

[2021-11-26 10:09] #508 closed

[2021-11-26 10:15] mythi commented on #676
with the enhanced custom rules, this might become a useful source.

Along the same lines, `Network`  could be deprecated as this is part of the PCI source (`sriov.capable`)

[2021-11-26 10:16] marquiz commented on #485
/remove-lifecycle stale

[2021-11-26 10:22] zvonkok commented on #676
@mythi We're going to provide more useful information about the whole iommu/pci/passthrough/mediated devices topic. I will tag you on the draft when ready if you like.

[2021-11-26 10:23] marquiz commented on #591
@ArangoGutierrez  @leo8a: #660 added capability for network device detection. Please test and share feedback, is there something essential/useful missing. Perhaps the virtual/physical could be added 🤔

[2021-11-26 10:25] zvonkok commented on #676
But I see your point. As a first step one could select the node(s) that have the iommu enabled. Some entity could then enable the kernel cmdline iommu={on, pt} and enable the second phase and expose this feature.

[2021-11-26 10:26] zvonkok commented on #676
@marquiz @mythi I need to do a brain dump on the topics I have flying in my head. Lets discuss when ready.

[2021-11-26 10:37] mythi commented on #676
@zvonkok thanks! it sounds we have the same use-cases in mind so let's think about it together

[2021-11-26 12:06] marquiz commented on #676
@mythi thanks for the feedback

My feeling was just that in it's current form this is pretty incomplete and useless. Maybe better have iommu attributes available as per-pci device attributes(?)

That is worth considering, too, I think 🤔 My feeling is that the generic `sriov.capable` and `sriov.configured` labels are prolly rather useless in practice. BTW, with #660 we added more generic network in

[2021-11-26 15:34] zvonkok commented on #676
@mythi Currently looking into sandboxed/virtualized container runtimes and how we could provide the right information. There are several ways to provide such devices into the container.

- passthrough (bound to VFIO) -> PCI ADDR used for creating the device in the VM
- passthrough (bount to VFIO) -> IOMMU GROUP used for creating the devices(s) in the VM (Kata does that right now)
- mediated device

[2021-11-27 14:11] zvonkok commented on #676
@mythi FYI: https://github.com/kata-containers/kata-containers/issues/2938

[2021-11-29 10:11] marquiz commented on #676
As said, maybe those really should per-device attributes (we have `sriov_totalvfs` and `sriov_numvfs`) currently.

IMO, it doesn't seem to make much sense to start advertising any of these as new default labels. WDYT?

[2021-11-30 07:00] mythi commented on #676
This could work, yeah. OTOH, to satisfy both (1) and this deprecation, the IOMMU enabled label could also be moved to CPU source.

[2021-11-30 08:36] marquiz commented on #361
/remove-lifecycle stale

[2021-11-30 08:39] marquiz commented on #468
With #663 all the essential parts are now merged and I declare this issue as implemented
/close

[2021-11-30 08:40] #468 closed

[2021-11-30 09:15] gaocegege opened #681 "question - Does it support GPU topology discovery with NFD-Topology-Updater?"
I am wondering if the GPU topology can be found and updated with the NodeResourceTopology CR?

I did not find the doc or code about it. Thus I opened this issue.

I'd appreciate it if anyone could help me.

Thanks :clinking_glasses: :beers:

[2021-11-30 11:43] marquiz commented on #361
This is actually somewhat nasty issue to tackle if we don't want to break backwards compatibility 🧐

In any case, I think that the underlying "raw" feature should be changed to just contain the actual value as a string. This would affect the new `kernel.config` rules where you'd need to do

[code]

instead of

[code]

Then, the backwards compatibility, I see at least two options

### 1. `"y"` ===

[2021-11-30 12:28] eero-t commented on #468
@marquiz In one of the PRs you mentioned documentation update being a separate PR, but I do not see one listed above.  could you you give a pointer to the associated doc update?

[2021-11-30 12:47] marquiz commented on #468
It's still under construction, there's no PR yet on that

[2021-11-30 15:49] marquiz commented on #361
@mythi @zvonkok @ArangoGutierrez I implemented option 2 from above (_Distinguish ="y" from =y_) in #684

[2021-11-30 15:50] marquiz commented on #361
We need to resolve this before v0.10.0

[2021-11-30 15:50] ArangoGutierrez commented on #361
/assign marquiz

[2021-11-30 15:50] ArangoGutierrez commented on #361
/unassign  vaibhav2107

[2021-11-30 16:11] ArangoGutierrez commented on #681
/cc @zvonkok

[2021-11-30 18:28] marquiz commented on #681
What are you referring to with "GPU topology"? Local CPUs of each GPU device or something else? In the case of former I think we support it (per NUMA-node granularity of device locality). Basically we're dependent on kubelet providing the topology information (through pod resource API).

@swatisehgal @fromanirh can chime in and correct me.

[2021-12-01 02:27] gaocegege commented on #681
Thanks for your reply!

Yeah I mean this. I am not sure if we can get the local CPU and GPUs like this:

[code]

Do you mean https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/606-compute-device-assignment ?

[2021-12-01 06:16] mythi commented on #638
Fixed by #647 (not sure why Fixes did not work)

/close

[2021-12-01 06:35] fromanirh commented on #681
@marquiz wrote a correct summary. We can report GPU (or any other device) NUMA Affinity provided this is reported by a device plugin through the kubelet.

[2021-12-01 07:45] marquiz commented on #638
Closing this now as fixed/implemented. @MustDie95 please report back if you still have concerns

/close

[2021-12-01 07:45] #638 closed

[2021-12-01 08:16] vaibhav2107 commented on #361
/unassign

[2021-12-01 10:12] reenakabra commented on #674
Thanks marquiz. From where I was coming is, in case of kubernetes cluster some nodes can be storage only nodes and some can be compute only. It can be good if there is a way to find this using node labels (or some other way if you can suggest). Storage vendors can deploy their software on the nodes that can provision storage and skip the compute nodes that does not have storage.

[2021-12-01 11:23] marquiz commented on #674
@reenakabra is block device detection what you're after? Can you elaborate on what specific attributes your would be looking for. Just as an example, we could easily add for example `size` and/or `device/model`.

Generally, I think your use case would be satisfied by deploying a vendor/appication specific labeling rule that would examine certain block device attributes and create labels accordingl

[2021-12-01 12:50] marquiz commented on #591
Now giving it a second thought, I'm not sure we want to disover virtual devices (currently we don't). WDYT?

[2021-12-01 13:36] leo8a commented on #591
Hey @marquiz, thanks for pushing this forward.

In my experience so far, discovering features on virtual devices doesn't have a UC as clear as discovering available features on physical devices.

For instance, in cloud-native Telco deployments for 5G, usually, there's a need to patch the baremetal cluster nodes with the latest OOT drivers [1], or perform firmware upgrades on the NICs to meet the s

[2021-12-01 14:43] marquiz commented on #591
Yes, agree

I think we could easily add `driver` and `driver/version` but I'm not sure about firmware version, how to get that.  Maybe need to rely on external hook or sidecar for that 🤔

[2021-12-01 15:07] zvonkok commented on #591
Do we need to consider here also if the devices is e.g. a bridge or a macvlan interface? Those would show the driver of the parent interface.

[2021-12-01 15:15] marquiz commented on #591
Those are always "virtual" interfaces, right? So that we don't do them currently.

[2021-12-01 15:26] leo8a commented on #591
I'd say only the s/parent/physical devices only, as Markus just pointed. This can be determined with the below command, in case it helps.

For the firmware version of NICs only, the below command comes in handy for us. However, IIRC @zvonkok had an idea to integrate this using a sidecar to gap the functionality.

[2021-12-02 08:39] marquiz commented on #361
Fixed by #684
/close

[2021-12-02 08:39] #361 closed

[2021-12-07 14:44] ArangoGutierrez commented on #676
@mythi @zvonkok any thoughts on this issue and #677 ?

[2021-12-09 06:19] mythi commented on #676
No objections to drop/deprecate this source. I think we all agree the capability still needs to be detected.

[2021-12-09 08:42] marquiz commented on #676
K.

What do you think about adding `iommu_group/type` attribute to all `pci` and `network` devices? This would contain the "raw" value from `iommu_group/type` sysfs file (i.e `DMA`, `DMA-FQ` or `identity`. This would make it possible to detect if iommu has been enabled by simply checking:

[code]

OTOH, one could check if passthrough has been enabled with something like:

[code]

[2021-12-10 09:01] marquiz commented on #676
WDYT @zvonkok @mythi about that^

[2021-12-13 10:26] apurv15 commented on #674
@marquiz : Set "non-OS-block-device=true" if there exists block devices which do not contain OS bits. NFD could look at output of "lsblk" and if there exist devices other than the one's which contain "/" or "/boot" mountpoints, set "non-OS-block-device=true".

[2021-12-16 12:14] SaravanaStorageNetwork opened #702 "Quickstart in documentation needs an update"
The quickstart mentioned in [kubernetes-sigs.github.io](https://kubernetes-sigs.github.io/node-feature-discovery/stable/get-started/index.html#quick-start--the-short-short-version) is broken.

This should be updated similar to [README](https://github.com/kubernetes-sigs/node-feature-discovery#quick-start--the-short-short-version)

I tried updating the it, but the link is broken. https://github.com

[2021-12-16 14:59] SaravanaStorageNetwork commented on #702
mistaken, not an issue.

[2021-12-16 14:59] #702 closed

[2021-12-19 16:08] Garrybest opened #703 "Question about when topology updater runs"
I had a glance at the source code of nfd-topology-updater and found it aggregates all pod resources from kubelet and update the result through gRPC client every 60s, See [here](https://github.com/kubernetes-sigs/node-feature-discovery/blob/09c1ff86caf83c7641846a010c1eb42238b0f160/pkg/nfd-client/topology-updater/nfd-topology-updater.go#L150-L153).

When taken [topology aware scheduling](https://git

[2021-12-19 16:09] Garrybest commented on #703
/cc @swatisehgal @fromanirh

[2021-12-20 12:41] swatisehgal commented on #703
Hi @Garrybest, your observation is totally correct. In case there is a batch of pods being scheduled on nodes and the monitoring interval of the podresource API is too slow, the aggregated information will be stale. This is a known issue and is due to the fact that podresources API needs to be polled. Our long term plan is to introduce a watch endpoint in podresource API to make it event based whi

[2021-12-21 04:26] leonharetd commented on #681
Can I add GPU labels, gpu-vendor, gpu-type, gpu-num, gpu-mem Then write different plugs according to different vendors, like NVIDIA uses NVIDIA-smi to fill in this information

[2021-12-21 06:12] leonharetd commented on #681
/cc @ArangoGutierrez, @fromanirh

[2021-12-21 06:17] fromanirh commented on #681
This is a question for the maintainers (cc @marquiz ) :)
I don't think this feature as it is described now really belongs in the `nfd-topology-updater`, but we can discuss extensions

[2021-12-21 06:38] leonharetd commented on #681
provided this is reported by a device plugin through the kubelet, nvidia-device-plugin uses nvidia.com/gpu resource type. The type of gpu is not told here, such as P40, V100, T4. We need this for scheduling, Now we label manually.

[2021-12-21 06:41] fromanirh commented on #681
OK, so we are talking about the base `node-feature-discovert` functionality, not `nfd-topology-updater`.
Can you perhaps integrate using the `local` feature source? https://kubernetes-sigs.github.io/node-feature-discovery/v0.9/get-started/features.html#local--user-specific-features

[2021-12-21 07:36] zvonkok commented on #703
@swatisehgal Do you have a KEP for the watch endpoint? How hard would it be to introduce the PRs you stated above into NFD?

[2021-12-21 07:36] uniemimu commented on #681
Such vendor specific GPU feature discovery can be handled for example like this: https://github.com/intel/intel-device-plugins-for-kubernetes/tree/main/cmd/gpu_nfdhook

[2021-12-21 07:40] fromanirh commented on #703
@zvonkok we have plans to update the nfd-topology-updater, add [missing features](https://github.com/kubernetes-sigs/node-feature-discovery/issues/333#issuecomment-840446030) and proposing the new ones. It is planned for early 2022.

[2021-12-21 07:43] marquiz commented on #681
Yes, I think this is a very vendor-specific feature that would be best served by a hook or a side-car pod/container.

BTW, there's a documentation update under review. Adding a separate customization guide that covers all the recently added new functionality and hopefully improves the documentation of the old stuff a bit, too.
https://github.com/kubernetes-sigs/node-feature-discovery/pull/704
http

[2021-12-21 07:54] fromanirh commented on #703
this is very correct. The updater - either nfd-topology-updater or the RTE described here, should be able to update as soon as possible. However very aggressive setting may put too much pressure on the cluster, and this is a design constraint which is hardly be solved by the implementation: the more frequent the updates, the more the traffic, thus the load on the updater/cluster/apiserver/etcd.

T

[2021-12-21 08:20] Garrybest commented on #703
Thanks for explanation. I still have 2 questions.  @swatisehgal @fromanirh

1. How do we get the events(pod creation/deletion) if we don't watch apiserver?

It seems like we don't want `nfd-topology-updater` to watch apiserver, it only interacts with kubelet now.

2. Even if we `watch` the events, scheduler still needs to face the stale information, how do we fix this?

Well, the `watch` could upd

[2021-12-21 08:28] fromanirh commented on #703
We totally don't want to watch the apiserver for scalability reasons if we can help it. And we can: we can either [extend the podresources API to notify resource allocation changes](https://github.com/kubernetes-sigs/node-feature-discovery/issues/703#issuecomment-997890713) or [get notifications from the runtime](https://github.com/k8stopologyawareschedwg/resource-topology-exporter/pull/54)

We ca

[2021-12-21 10:37] zvonkok commented on #681
This is done via GFD https://github.com/NVIDIA/gpu-feature-discovery it will provide thing such as:
[code]

[2021-12-21 11:34] leonharetd commented on #681
Thanks a lot.

[2021-12-21 13:24] marquiz commented on #676
#705 implements the idea above^

[2021-12-25 13:44] DiptoChakrabarty commented on #566
/assign

[2022-01-04 13:33] yankay commented on #554
Yes， I think it's useful and enough.

![Uploading 企业微信截图_16413031898614.png…]()

[2022-01-04 13:46] ArangoGutierrez commented on #554
Given that it satisfies initial request
/close

[2022-01-04 13:46] #554 closed

[2022-01-04 14:58] #630 closed

[2022-01-05 04:17] reenakabra commented on #674
Hi @marquiz , is it possible to set this label on the node?

[2022-01-05 06:31] marquiz commented on #674
You can write a custom hook or side-car container (or pod) to do the detection. See [local feature source](https://kubernetes-sigs.github.io/node-feature-discovery/v0.9/get-started/features.html#local--user-specific-features)

[2022-01-11 17:16] ArangoGutierrez commented on #678
/lgtm

[2022-01-11 19:01] ArangoGutierrez commented on #678
https://github.com/kubernetes/k8s.io/pull/3248

[2022-01-11 19:02] ArangoGutierrez commented on #678
[code]

[2022-01-11 19:08] marquiz commented on #678
Github release page:
https://github.com/kubernetes-sigs/node-feature-discovery/releases/tag/v0.10.0

[2022-01-11 19:33] ArangoGutierrez commented on #678
/close

[2022-01-11 19:34] #678 closed

[2022-01-11 20:50] marquiz opened #722 "E2e-tests for NodeFeatureRule objects"
**What would you like to be added**:

End-to-end tests to cover usage of NodeFeatureRule objects.

**Why is this needed**:

Better test coverage

[2022-01-11 21:00] marquiz opened #723 "Re-organize deployment docs"
**What would you like to be added**:

Re-organize the *Get started* major section of documentation. Probably spitting it into multiple separate major sections.

E.g. something like

- get-started/
  - introduction
  - quick-start
- deployment/
  - kustomize
  - helm
  - olm
  - tls
  - uninstallation
- usage/
  - features
  - nfd-master
  - nfd-worker
  - nfd-topology-updater
  - using node labels

[2022-01-12 11:11] marquiz commented on #478
ping @dbaker-rh are you familiar with cert-manager-csi, have you been following it?

[2022-01-12 11:58] dbaker-rh commented on #478
(note - minor typo in the issue description; should be NODE name, not MODE name)

No, I've not spent any time looking at cert-manager-csi though at first glance it looks like it might be a good fit and relatively easy to plumb in.

However, I'm not sure what the cost/benefit of additional infrastructure versus the (imho relatively small) advantage of being able to enable the --verify-node-name fla

[2022-01-12 13:00] marquiz commented on #478
Thanks @dbaker-rh, meritious pondering.

TBH, I haven't really given much thought to this myself, but just happened to pick this up now while browsing through open issues.

It might very well be the case that it's not worth the trouble. Especially because we're managing nfd-master and nfd-worker (and topology-updater) together, they're running in the same namespace and cert-manager handles cert ro

[2022-01-13 06:53] jonkerj commented on #426
New release, so breathing new life into this issue. FWIW, you can use `jonkerj/node-feature-discovery` to get your v0.10.0 multiarch (amd64/arm64) images.

[code]

If you do this, I guess you'll probably end up with seperate images for the archs. Multiarch is what you want, so you don't have to mess with seperate daemonsets/nodeSelectors.

[2022-01-13 08:05] vaibhav2107 commented on #270
/remove-lifecycle stale

[2022-01-13 09:24] marquiz commented on #426
i think #698 is already quite far in implementing this. We'd just need to simplify and clean-up the makefiles. Any updates on the PR @zvonkok?

[2022-01-13 11:01] zvonkok commented on #426
I will push something tomorrow per our discussions on #698

[2022-01-14 08:27] marquiz commented on #540
For consistency, we'd need to support this for both nfd-worker config (configuration of `custom` source), I think. This means that we need to update our gRPC interface, too, to send the taints from worker to master. Also, we prolly need to add an annotation for bookkeeping, (similar to `nfd.node.kubernetes.io/feature-labels` and `nfd.node.kubernetes.io/extended-resources`)

[2022-01-14 09:37] mythi commented on #478
@marquiz I'm OK with this. The only justification to keep this open would be that if someone was looking for this particular use-case it would be easier to find that it's a gap still.

[2022-01-14 12:42] marquiz commented on #478
Thanks @dbaker-rh and @mythi for the feedback! Let's close this for now as nobody is requesting this or actively working on this. Let's be happy with the kustomize support that was implemented 😉

/close

[2022-01-14 12:42] #478 closed

[2022-01-15 21:26] 2fst4u commented on #426
Tangentially related, but it's a bit confusing that the install docs seem to state that Arm is supported:

https://kubernetes-sigs.github.io/node-feature-discovery/v0.10/get-started/deployment-and-usage.html

`Requirements
Linux (x86_64/Arm64/Arm)`

What is this referring to if not the fact that this can run on Arm?

[2022-01-16 07:31] mnaser commented on #554
Could we re-open this?  It's not accurate since it is possible for a VM to have nested virtualization enabled, therefore, having the following label set to `true` even though it's a virtual machine.

[2022-01-16 12:45] mythi commented on #554
’true’ means ”this is a VM”. As far as I can tell  this is valid regardless of the nesting level. Do you see something else?

[2022-01-20 23:59] mnaser opened #737 "Image builds failing with buildx"
**What happened**:
When trying to build NFD using `buildx` on an environment where an architecture is emulated (i.e will be slower), tests will fail because the `WaitForReady` timeout for tests is one second only and that's not fast enough in an emulated environment.

**What you expected to happen**:
Test to pass.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anythin

[2022-01-21 05:53] #737 closed

[2022-01-21 12:48] marquiz opened #744 "Release v0.10.1"
## Release Checklist

- [x] All [OWNERS](https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/OWNERS) must LGTM the release proposal
- [x] Verify that the changelog in this issue is up-to-date
- [x] For major releases (v0.$MAJ.0) create new release branch
  - [x] an OWNER creates a vanilla release branch with
        `git branch release-0.$MAJ master`
  - [x] An OWNER pushes the n

[2022-01-21 12:51] marquiz commented on #744
We could cut a release with virtually no other changes than multi arch build (#743), enabling official arm64 release image.
ping @zvonkok @ArangoGutierrez

[2022-01-21 12:52] zvonkok commented on #744
LGTM

[2022-01-21 13:24] marquiz commented on #426
Good point. In response to this: https://github.com/kubernetes-sigs/node-feature-discovery/pull/745

[2022-01-21 13:50] ArangoGutierrez commented on #744
/lgtm

[2022-01-21 15:34] Ethyling commented on #744
LGTM

[2022-01-21 18:45] marquiz commented on #426
With #698 we now have ARM64

[2022-01-23 14:34] adrianchiris commented on #744
/lgtm

[2022-01-23 15:50] kad commented on #744
/lgtm

[2022-01-24 14:34] marquiz commented on #744
GitHub release page:
https://github.com/kubernetes-sigs/node-feature-discovery/releases/tag/v0.10.1

[2022-01-24 16:41] marquiz commented on #744
/close

[2022-01-24 16:41] #744 closed

[2022-02-03 08:17] vaibhav2107 opened #768 "Need to fix some references"
In [Customization guide](https://kubernetes-sigs.github.io/node-feature-discovery/v0.10/advanced/customization-guide.html), under Advanced Section:

In section [hooks](https://kubernetes-sigs.github.io/node-feature-discovery/v0.10/advanced/customization-guide.html#hooks),
`NOTE: The minimal image variant only supports running statically linked binaries.`

In section [Custom feature source](https:/

[2022-02-03 08:18] vaibhav2107 commented on #768
/assign

[2022-02-08 11:21] ionutnechita-intel opened #772 "[NFD] CPU more details discovery"
Hi NFD Team,

I notice working correctly NFD in Rancher Cluster (RKE) with v0.10.1 version .
But i need more details/information for CPU on check architectures.

This information not exist in actual version (v0.10.1).

lscpu | grep -E "CPU family|Model|Stepping"
CPU family:                    6
Model:                           140
Model name:                 11th Gen Intel(R) Core(TM) i7-1185GRE @

[2022-02-08 11:59] marquiz commented on #772
I think this is duplicate to #270

[2022-02-08 12:06] ionutnechita-intel commented on #772
It's the same issue, but the #270, is not very active.

[2022-02-08 12:16] marquiz commented on #772
You can make it more active by adding your comment there 😉. Anyways, this has been requested many times and there's even  an implementation cooking up in #700

Closing this as a duplicate of #270.
/close

[2022-02-08 12:16] #772 closed

[2022-02-17 14:32] marquiz opened #778 "Use shorter label namespace"
**What would you like to be added**:

I'd like to move to a shorter label namespace (e.g. `nfd.k8s.io/` or `feature.node.k8s.io/`) before nfd v1.0. I'm not sure what would be the least painful way there (or if it even is worth it).

One path could be:
1. Allow the shorter namespace. For custom labels only
2. Have an option to switch to the shorter namespace for all labels (the old long namespaces

[2022-02-18 13:44] ArangoGutierrez commented on #566
Lint is doing ok, but still at 70%, there's still room for enhancement in this issue

[2022-02-18 14:02] ArangoGutierrez commented on #566
![Screenshot from 2022-02-18 09-02-14](https://user-images.githubusercontent.com/15933089/154696808-2785b536-529a-4933-a181-27590521774e.png)
Current state

[2022-02-25 00:03] bnevis-i opened #780 "Support setting of TLSMinVersion"
**What would you like to be added**:
NFD should allow TLSMinVersion to be specified as part of configuration.
Would like to further request that the default be TLSv1.3.

**Why is this needed**:
By default, the NFD master node allows TLSv1.0 and TLSv1.1 which can violate organizational policies.  testssl.sh report reproduced below (installed from helm with tls enabled using certManager):

[code]

[2022-02-25 08:13] marquiz commented on #780
@bnevis-i makes sense. I don't think we need to make it configurable, just always request v1.3. PTAL #781

[2022-03-07 21:02] bnevis-i commented on #780
@marquiz Do you know when this will be released into a tagged version?

[2022-03-08 08:04] marquiz commented on #780
Not sure yet. We don't have much new content since the last release. Nevertheless, I've been thinking about a more regular and predictable cadence. So let's say perhaps within a month 😊

[2022-03-10 17:34] #456 closed

[2022-03-15 12:16] vaibhav2107 commented on #768
/close

[2022-03-15 12:17] #768 closed

[2022-03-16 12:41] AjinkyaNakave opened #784 "Adding node hardware specific attributes"
**What would you like to be added**:
Adding node hardware specific attributes in the node labels listed below.
1. Architecture
2. CPU op-mode
3. Total CPU
4. Threads per core
5. Cores per socket
6. Sockets
7. CPU MHz
8. Vendor ID
9. CPU model name
10. Total memory

All these attributes are available in output of below commands
1. /usr/bin/lscpu (1 to 8)
2. cat /proc/cpuinfo (9)
3. cat /proc/meminf

[2022-03-16 16:29] marquiz commented on #650
Still a valid issue, helping hands would be welcome
/remove-lifecycle rotten

[2022-03-16 16:29] marquiz commented on #651
/remove-lifecycle rotten

[2022-03-16 19:52] marquiz commented on #784
1-3 are already covered by Kubernetes even without NFD (`kubernetes.io/arch` and `kubernetes.io/os`labels).

4-6: I'm not convinced that the cpu topology information should be exposed as node labels. One problem is that one label (key-value pair) may be inadequate to describe the topology truthfully. Think about e.g. heterogenous CPU architecture (P-core/E-core or big.LITTLE).

7-9: are more or le

[2022-03-16 19:57] zvonkok commented on #270
@digambar15 @AshwiniGhanwat Any updates on this?

[2022-03-17 08:25] marquiz opened #786 "Release v0.11.0"
## Release Checklist

- [ ] All [OWNERS](https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/OWNERS) must LGTM the release proposal
- [x] Verify that the changelog in this issue is up-to-date
- [x] For major releases (v0.$MAJ.0) create new release branch
  - [x] an OWNER creates a vanilla release branch with
        `git branch release-0.$MAJ master`
  - [x] An OWNER pushes the n

[2022-03-17 08:28] marquiz commented on #485
Moving milestone to v0.12.0
/remove-lifecycle stale

[2022-03-17 08:29] marquiz commented on #540
Moving to v0.12.0

[2022-03-17 08:33] marquiz commented on #786
Trying to start a more predictable and constant release cadence. Release whatever new features we have (even if the list is short) so that users can take them into use

[2022-03-17 10:40] ArangoGutierrez commented on #786
Any milestones for this PR? (pending PR's)

[2022-03-17 10:40] ArangoGutierrez commented on #786
/lgtm

[2022-03-17 14:27] marquiz commented on #786
https://github.com/kubernetes-sigs/node-feature-discovery/milestone/5

Just small fixes. Moved the bigger stuff to v0.12.0

[2022-03-18 12:29] mythi opened #789 "helm: master: add templating for resource-labels"
**What would you like to be added**:
I would like to be able to set `--resource-labels` master args when using Helm for deployment. When this is set, also the RBAC rules must be updated.

**Why is this needed**:
To improve Helm based templating.

[2022-03-18 14:18] marquiz commented on #789
Would be a nice improvement. Patches are welcome 😉
/help
/good-first-issue

[2022-03-22 07:29] tkatila opened #791 "Topology updater crashes with invalid numa info from device plugins"
**What happened**:
When hacking with our GPU device plugin, I intentionally set device's numa node details to be non existent. In single numa node host, devices reported being in numa node 1.

**What you expected to happen**:
Topology updater crashed.

**How to reproduce it (as minimally and precisely as possible)**:
Change an existing device plugin to report topology information incorrectly: i.e.

[2022-03-23 12:18] ArangoGutierrez commented on #791
/close

[2022-03-23 12:18] #791 closed

[2022-03-23 12:22] ArangoGutierrez commented on #566
https://goreportcard.com/badge/sigs.k8s.io/node-feature-discovery

[2022-03-23 12:23] ArangoGutierrez commented on #566
We are way better now , thanks everyone that helped to enhance NFD lints
/close

[2022-03-23 12:23] #566 closed

[2022-03-23 16:16] #789 closed

[2022-03-23 18:26] ArangoGutierrez commented on #270
https://github.com/kubernetes-sigs/node-feature-discovery/pull/792

[2022-03-23 18:28] ArangoGutierrez commented on #270
/assign

[2022-03-23 18:28] ArangoGutierrez commented on #270
/unassign AshwiniGhanwat

[2022-03-23 22:10] ArangoGutierrez commented on #333
Hey all, any updates on this feature set?

[2022-03-23 23:06] ArangoGutierrez commented on #681
Hey @gaocegege , is your question solved? if so feel free to close this issue

[2022-03-24 01:45] #681 closed

[2022-03-24 01:45] gaocegege commented on #681
Thanks! I am closing it

[2022-03-28 09:46] Ethyling commented on #786
/lgtm
Nice release once again!

[2022-03-28 13:41] ArangoGutierrez commented on #270
Hey @lmdaly thanks for this issue, can you verify if changes #792 fit your need, and if so, closing this issue :)

[2022-03-28 17:01] adrianchiris commented on #786
/lgtm !

[2022-03-29 07:18] marquiz commented on #270
I think lmdaly is not working in this area anymore.
/close

[2022-03-29 07:19] #270 closed

[2022-03-29 10:48] marquiz commented on #786
GitHub release page:
https://github.com/kubernetes-sigs/node-feature-discovery/releases/tag/v0.11.0

Release announcement:
https://groups.google.com/a/kubernetes.io/g/dev/c/m4LkVD8qMQY/m/orkEw4hhBwAJ

[2022-03-29 11:15] marquiz commented on #786
/close

[2022-03-29 11:15] #786 closed

[2022-04-10 10:39] #479 closed

[2022-04-12 06:42] marquiz commented on #722
/remove-lifecycle stale

[2022-04-12 22:24] mnaser commented on #554
You're right, that's my bad, it seems to imply "HYPERVISOR=true" as in, this is a hypervisor.

[2022-04-13 08:38] zvonkok commented on #554
Agree with @mnaser it is a very bad naming by the go cpuid package, the bit is actually named `HYPERVISOR PRESENT` - bit 31 of ECX.  It would be very surprising that AMD and/or Intel are naming bits ambiguously.

[2022-04-13 08:39] zvonkok commented on #554
@marquiz @ArangoGutierrez is this extracted from the klauspost/cpuid package?

[2022-04-13 08:41] zvonkok commented on #554
A host would have bit 31 of ECX set to 0x0 and a guest would have bit 31 set to 0x1. A host would not have a `HYPERVISOR PRESENT` where a guest would see a `HYPERVISOR PRESENT`.

[2022-04-13 19:25] mac-chaffee opened #805 "core.sleepInterval ignored; kubelet sync interval causes relabeling every 60 seconds"
**What happened**:

Even if you raise `core.sleepInterval` above the default of 60 seconds, NFD will still relabel nodes every 60 seconds. This is because the sleepInterval is ignored if the configmap "changes". NFD believes the configmap is being "changed" every 60 seconds because that is [kubelet's default `--sync-frequency`](https://github.com/kubernetes/kubernetes/issues/30189).

Kubelet doesn

[2022-04-14 06:47] marquiz commented on #805
Indeed, we should prevent this. But as I mentioned in #806 I think filtering out inotify events is not the right thing to do
as breaks a lot of corner cases. My suggestion is to check the raw config data (file content), if it has changed. Either by checksumming or simple bytewise comparison

[2022-04-18 15:36] bobjiang82 opened #809 "error: json: unknown field "components""
**What happened**:
kubectl apply -k https://github.com/kubernetes-sigs/node-feature-discovery/deployment/overlays/default?ref=v0.11.0
error: json: unknown field "components"

**What you expected to happen**:
kubectl apply -k https://github.com/kubernetes-sigs/node-feature-discovery/deployment/overlays/default?ref=v0.11.0
runs successfully.
**How to reproduce it (as minimally and precisely as possi

[2022-04-18 15:42] bobjiang82 commented on #809
[root@pue03 Mon Apr 18-23:29 ~]# kubectl -v=6 apply -k https://github.com/kubernetes-sigs/node-feature-discovery/deployment/overlays/default?ref=v0.11.0
I0418 23:30:25.650167   99276 loader.go:375] Config loaded from file:  /root/.kube/config
I0418 23:30:25.679336   99276 round_trippers.go:444] GET https://apiserver.cluster.local:6443/openapi/v2?timeout=32s 200 OK in 26 milliseconds
F0418 23:30:37

[2022-04-19 07:05] marquiz commented on #809
You need kubectl v1.21 or later:
https://kubernetes-sigs.github.io/node-feature-discovery/v0.11/get-started/deployment-and-usage.html#deployment-with-kustomize
/close

[2022-04-19 07:05] #809 closed

[2022-04-19 19:27] mythi commented on #554
@zvonkok I added it and followed the `/proc/cpuinfo` naming: `flags` contains `hypervisor` in case of vCPUs.

[2022-04-29 02:43] wangzihao05 opened #810 "helm deploy nfd-topology-updater pod status is CrashLoopBackOff"
**What happened**:

when I use helm to install nfd-topology-updater,it encountered that nfd-topology-updater pod status is CrashLoopBackoff. Then I
use "kubectl logs -f pod" to see the logs.It says that "failed to obtain node resource information: failed to get allocatable resources (ensure that KubeletPodResourcesGetAllocatable feature gate is eabled): rpc error:code = Unimplemented desc=unknown

[2022-04-29 07:14] marquiz commented on #810
What's your kubelet config? Have you enabled `KubeletPodResourcesGetAllocatable` in kubelet as the error suggests?

[2022-04-29 07:41] wangzihao05 commented on #810
Thanks.My kubernetes version is 1.20.10.I saw the kubernetes.io just now.The doc says that KubeletPodResourcesGetAllocatable is since 1.21 until 1.22.So my kubernetes doesn't support it.

[2022-04-29 07:49] marquiz commented on #810
Ah, true. You need to update K8s in order to get nfd-topologyupdater to run.
/close

[2022-04-29 07:49] #810 closed

[2022-04-30 16:43] #591 closed

[2022-05-04 01:30] hairmare commented on #562
/remove-lifecycle rotten

[2022-05-11 12:22] ArangoGutierrez opened #812 "NFD Operator not labeling SR-IOV capable nodes when operstate is not up"
**What happened**:
On SR-IOV capable machines, NFD is not setting the proper labels when the operstate is not up.

**What you expected to happen**:
NFD to set SR-IOV labels when the node is SR-IOV capable

`feature.node.kubernetes.io/network-sriov.capable=true`

**How to reproduce it (as minimally and precisely as possible)**:
Deploy NFD on a SR-IOV cabale machine with nic cables unpluged (opersta

[2022-05-11 12:34] ArangoGutierrez commented on #812
The diff between v0.11 and v0.9 is at

[code]

diff with line https://github.com/openshift/node-feature-discovery/blob/release-4.9/source/network/network.go#L76 at v0.9

[2022-05-11 12:34] ArangoGutierrez commented on #812
From Slack @marquiz said

[2022-05-11 15:03] marquiz commented on #812
Yeah, it's a bit messy. NFD In checks if the interface is "up". However, in v0.9 and earlier we checked the `IFF_UP` flag whereas in v0.10.0 we check the `operstate` attribute. And, they are not the same 😑.

`IFF_UP` is the "administrative status" of the interface, indicating if the interface has been enabled or disabled (e.g. `ip l set dev <iface> down` would disable an interface) but it doesn't

[2022-05-11 15:08] ArangoGutierrez commented on #812
and what about adding an option to the config like `ignoreState` or something similar?

[2022-05-12 10:45] adrianchiris commented on #812
my 2-cent on this:

sriov capability of a network device is not related to neither the administrative nor operating state of the device.
so its Option1 for me

[2022-05-12 11:05] marquiz commented on #812
Thanks @adrianchiris. Now, after sleeping over this I'm inclined to agree. I'm not sure why the check for the if being "up" was added in the first place, probably to check if there are any "usable" interfaces. But I'd probably go and do the simple thing

[2022-05-12 12:09] ArangoGutierrez commented on #812
Option 1 ++

[2022-05-12 13:28] marquiz commented on #723
/remove-lifecycle rotten

[2022-05-13 08:51] #703 closed

[2022-05-18 15:41] zvonkok commented on #778
/remove-lifecycle stale

[2022-05-25 12:44] wangzihao05 opened #816 "I met unexpectedamissionedError when I used BestEffort which is kubelet's topology policy"
I met unexpectedamissionedError when I used BestEffort which is kubelet's topology policy

The question is that I schedulered a pod that to a node.The node has two numa nodes ,the information as follows

numa node1 memory:
capacity: 16000000000
available: 14000000000

numa node2 memory:
capacity: 16000000000
available: 14000000000

the pod information as follows:

memory: 15000000000

Then the pod

[2022-05-26 15:21] Tianhao-intel opened #817 "NFD worker fails to communicate with NFD master after worker node rejoin to the cluster"
**What happened**:

After a node(as a NFD worker) was deleted through "kubectl" command and rejoin to the cluster, the NFD worker failed to communicate with NFD master. And there are some error logs in nfd-worker pod.

I0526 15:13:24.461238       1 component.go:36] [core]parsed scheme: ""
I0526 15:13:24.461249       1 component.go:36] [core]scheme "" not registered, fallback to default scheme
I052

[2022-05-27 14:12] disconn3ct commented on #426
/remove-lifecycle rotten

[2022-06-01 14:24] fromanirh commented on #816
I agree. This seems more like a kubernetes/kubelet issue.

[2022-06-01 19:42] zvonkok commented on #426
@disconn3ct We're talking here about arm32v7 and arm64v8 right? Those are the terms docker buildx understands. Just to be at the same page.

[2022-06-02 13:41] marquiz commented on #816
Closing as out-of-scope. @wangzihao05 if you're using mainline kubernetes without any scheduler extensions or other customizations I suggest to submit this in the kubernetes repository.
/close

[2022-06-02 13:42] #816 closed

[2022-06-04 07:38] #674 closed

[2022-06-07 12:25] #812 closed

[2022-06-07 13:17] marquiz opened #820 "Release v0.11.1"
## Release Checklist

- [x] All [OWNERS](https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/OWNERS) must LGTM the release proposal
- [x] Verify that the changelog in this issue is up-to-date
- [x] For major releases (v0.$MAJ.0) create new release branch
  - [x] an OWNER creates a vanilla release branch with
        `git branch release-0.$MAJ master`
  - [x] An OWNER pushes the n

[2022-06-07 13:20] ArangoGutierrez commented on #820
/lgtm

[2022-06-07 13:44] Ethyling commented on #820
/lgtm

[2022-06-08 06:13] marquiz commented on #820
GitHub release page:_
https://github.com/kubernetes-sigs/node-feature-discovery/releases/tag/v0.11.1

Release announcement:
https://groups.google.com/a/kubernetes.io/g/dev/c/YT__72aaqgc

[2022-06-08 11:34] ArangoGutierrez commented on #820
Release has been cut :)
/close

[2022-06-08 11:34] #820 closed

[2022-06-08 11:43] ArangoGutierrez commented on #817
I get this when running Minikube from time to time, my work around is
[code]
it always fix the network issue, and NFD workers communicate back with the master :)

[2022-06-14 11:01] marquiz opened #828 "NodeFeature CRD"
**What would you like to be added**:

Replace gRPC with a CRD.

Introduce a new `NodeFeature` CRD for nfd-worker to expose all underlying "raw" features. This would be per-node, i.e. one object per node. Nfd-worker would create/update this CR instead of communicating with nfd-master over gRPC. Correspondingly, nfd-master would watch for updates in `NodeFeature` objects and (re-)label nodes accordi

[2022-06-14 13:05] marquiz commented on #828
/cc zvonkok ArangoGutierrez

[2022-06-20 11:01] zvonkok commented on #828
LGTM like the idea, we can even filter on such events in the operator.

[2022-06-22 17:40] ArangoGutierrez commented on #562
/reopen

[2022-06-27 13:58] marquiz opened #832 "Re-organize security related features"
**What would you like to be added**:

We start to have a lot of somewhat cluttered features/labels related to security and trusted-execution-environments (e.g. #647, #790, #830) and expecting more to come. I feel it would be good to group all of these more closely together, e.g. under a separate domain (say `security`) or under a single feature (say `cpu.security`).

From the users point of view t

[2022-06-27 17:01] fidencio commented on #832
@marquiz, on the kernel side what would be part of the new `security` feature? SELinux and AppArmor?

Maybe I'm not actually seeing the bigger picture here, but it seems that with a `security` feature under `cpu` things would be cleaner.  But then I also see this growing to having a `security` feature under each component that it may apply, which could only be `cpu` and `kernel`?

[2022-06-28 06:25] marquiz commented on #832
Currently we only have selinux but I think apparmor would be obvious possible future addition.

Buaha, I think I'm a bit lost here too 😸

but it seems that with a `security` feature under `cpu` things would be cleaner. But then I also see this growing to having a `security` feature under each component that it may apply, which could only be `cpu` and `kernel`?

Yup, now after sleeping over it I'm

[2022-06-30 12:59] marquiz commented on #778
@zvonkok @ArangoGutierrez what do you think about this? Is it too disruptive?

OTOH we can start implementing this with the two first steps (allow `nfd.k8s.io` and create a flag for turning that on for all labels). This gives us time to experiment and get feedback based on which we can do the switchover of back off.

[2022-06-30 13:02] ArangoGutierrez commented on #778
Agree that this should be optional for some time. Many workloads might have hard coded the current schema.

Question: can we use k8s when becoming a 1.0 API?

[2022-06-30 13:05] marquiz commented on #828
I try to squeeze this in the next release as an optional feature at least (turned off by default). We'd support both gRPC and CRD with an option control what to use, smth like `-nfd-api={grpc,crd,all}`...

[2022-06-30 14:28] ArangoGutierrez commented on #778
/lgtm

[2022-07-07 16:26] ionutnechita opened #844 "CPUID and NFD support: AVX_VNNI"
<no-template>

Hi NFD Team,

I have ADL CPU, but i not have AVX_VNNI in label list.
I have v0.11.0 image and this issue is observed.

[code]
[code]

This CPU feature is not implemented in NFD?

BR,
Ionut Nechita
ionutnechita

[2022-07-08 09:01] #676 closed

[2022-07-08 12:04] marquiz commented on #844
Hmm yes, we don't support it yet. TBH I wasn't even aware of AVX-VNNI (non AVX512-variant) 😇

On cpuid we rely on https://github.com/klauspost/cpuid so could you submit a feature request there (or even submit a PR implementing the feature 😊)? When we get that in the cpuid package we can pull it in NFD

[2022-07-08 12:24] marquiz commented on #651
/remove-lifecycle stale

[2022-07-08 12:32] marquiz commented on #540
We still want this. Not a huge deal in terms of implementation but somebody® just has to do it

/remove-lifecycle stale

[2022-07-08 12:33] marquiz commented on #485
/remove-lifecycle stale

[2022-07-08 12:34] marquiz commented on #333
There is progress lately in e2e-tests and /configz endpoint

/remove-lifecycle stale

[2022-07-09 05:55] jasine commented on #650
@marquiz I just tried to make a second deployment on cluster and failed with blowing error

[code]

and the reason is crd `nodefeaturerules.nfd.k8s-sigs.io` placed under `manifests` folder,  while helm encourage [crds placed at `crds` folder](https://helm.sh/docs/topics/charts/)

when I renamed `manifests` to `crds`, multiple parallel Helm-based NFD deployed succeed.

[2022-07-09 13:26] ionutnechita opened #849 "NFD does not reveal all the features in cpuid for AMD Ryzen"
<no-template>

Hi NFD Team,

I try today to deploy NFD in Kind Cluster.
But I noticed that there are differences between what NFD and cpuid discover.
There are fewer characteristics discovered by NFD compared to cpuid.

NFD version: k8s.gcr.io/nfd/node-feature-discovery:v0.11.1
CPUID go implementation version: cpuid-Linux_x86_64_2.0.14
OS: openSUSE Tumbleweed 20220706
Kind version: kind version 0.

[2022-07-11 09:05] eliaskoromilas commented on #650
I think that, as of NFD v0.11.1, there is no "real" need for parallel deployments. Even custom feature sources can be applied with a simple `NodeFeatureRule`. A cluster-scoped NFD deployment is just enough to address the needs of every app that either uses the out-of-the-box feature labels, dynamically specifies new features using the **local** filesystem, or registers **custom** rules through the

[2022-07-11 13:05] ionutnechita commented on #844
This issue is solved in "klauspost/cpuid#106"

https://github.com/klauspost/cpuid/releases/tag/v2.1.0

It's possible to update NFD version with this fix?

[2022-07-12 03:00] JaredTan95 opened #850 "the server could not find the requested resource (get nodefeaturerules.nfd.k8s-sigs.io)"
**What happened**:
I deployed NFD using helm chart as following:
[code]
but I found `node-feature-discovery-master` and `node-feature-discovery-worker` pod always `CrashLoopBackOff` and restart due to the `node-feature-discovery-master` errors :
[code]

**What you expected to happen**:
how could I solve this issue? thx.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything

[2022-07-19 13:00] mythi commented on #850
I tried this and it was working without errors. Can you run `helm install` with `--debug --dry-run` to see if you actually get the CRDs?

[2022-07-19 13:07] mythi commented on #844
See #851

[2022-07-21 08:33] mythi commented on #832
LGTM. Since we are renaming things, one thing to maybe pay attention. Some the TEEs are virtual machines so we need to make sure there's no ambiguity between "the bare metal worker can run TEE VMs" (the kata use case) and "the worker node is a TEE VM".

[2022-07-22 02:48] JaredTan95 commented on #850
thx, I found the reason, I set `nodeFeatureRule.createCRD` to `false` when helm install.

[2022-07-22 02:48] #850 closed

[2022-07-22 10:01] AlenK123 opened #852 "Does NDF publishes the node features to the kubelet?"
So pods can request a pci device or other hardware (similar to device plugin api)

[2022-07-22 10:09] mythi commented on #852
NFD does not register any device plugin resources. It can label nodes based on which PCI devices are available. These labels can then be used by device plugins daemonsets to get their pods only to those nodes that have the right devices.

[2022-07-22 17:07] AlenK123 commented on #852
Are there any plans in the future for NDF to publish resources to the kubelet?

[2022-07-23 06:15] mythi commented on #852
Device plugin resources? I don't think so (vendors have their device plugins implemented for this). Is there a particular device or resource you would want to use?

[2022-07-25 08:37] zvonkok commented on #852
We added experimental "Extended Resources" support to NFD some time ago: https://kubernetes-sigs.github.io/node-feature-discovery/v0.7/get-started/features.html#extended-resources

Just to be clear, it is by no means a replacement for the usage of device plugins. The device plugin API does more than just expose a feature/resource as an extended resource. NFD will not do any allocate/deallocate cal

[2022-08-05 02:45] gseidlerhpe opened #853 "CVE scan lists high vulnerability against latest image k8s.gcr.io/nfd/node-feature-discovery:v0.11.1"
**What happened**:
CVE scan shows image uses lib/package with high vulnerability

**What you expected to happen**:
No critical or high vulnerability issues.

**How to reproduce it (as minimally and precisely as possible)**:
docker scan k8s.gcr.io/nfd/node-feature-discovery:v0.11.1

Output shows:
✗ High severity vulnerability found in gcc-8/libstdc++6
  Description: Information Exposure
  Info: htt

[2022-08-08 07:30] marquiz commented on #852
Device plugins are much more than just updating the node status (advertising the extended resource(s)). We don't want to have vendor-specific device management logic in NFD and I don't think the vendors want it either 🙂

As Zvonko mentioned, NFD has this experimental feature of advertising extended resources but there is no way to add any device plugin functionality.

[2022-08-09 06:48] marquiz commented on #650
Yeah, I fully agree on this 👍 We're really trying to make it unnecessary to have multiple parallel NFD deployments. The ´NodeFeatureRule` already causes some fuss with parallel deployments as it's a cluster-scoped (non-namespaced) resource and only the default instance (by default) is processing those resources. #828 will complicate matters further, probably making parallel NFD installations unsup

[2022-08-09 10:32] #844 closed

[2022-08-12 08:57] zvonkok commented on #853
@marquiz ptal

[2022-08-12 08:58] zvonkok commented on #853
/cc @ArangoGutierrez

[2022-08-12 10:38] ArangoGutierrez commented on #853
This will require v0.11.2 since updating image hash at k8s.gcr.io/images doesn't allow hash updates

[2022-08-12 11:43] marquiz commented on #853
I don't think this applicable to us. NFD binaries are statically linked golang binaries (no c compiler involved). The possible hooks run by nfd (worker) inside the image are deployed/managed by the sysadmin.

[2022-08-12 13:32] eero-t commented on #853
As that's not the minimal image, according to documentation it contains run-time support for Bash and Perl hooks: https://kubernetes-sigs.github.io/node-feature-discovery/v0.11/advanced/customization-guide.html#hooks

I.e. has several libs that may get out of date / require security updates.

(IMHO running random code for hooks is bad idea for several reasons, I'll expand on that in a separate tic

[2022-08-12 15:10] eero-t opened #855 "Disable hook support by default"
**What would you like to be added**:

Disable support for hooks by default, and make minimal image the default. Add NFD worker option to enable support for hooks, for backwards compatibility.  Deprecate and eventually remove support for dynamic binary + script hooks (to prepare for potential removal of also static binaries hook support).

Feature files can support all the same things while avoidin

[2022-08-12 15:18] eero-t commented on #855
Btw. was nfd-worker local socket ever considered for label updates instead of hooks?

[2022-08-13 21:36] #784 closed

[2022-08-15 08:25] marquiz commented on #855
Regarding the hooks, thanks @eero-t for starting this discussion. I basically agree with this and have been anxious about the hook support myself, especially after we introduced the minimal image. Hooks are a hack'ish burden that I'm not entirely sure that how many people are even using.

One sketch of a plan to remove them completely over multiple releases:
1. n (v0.12): declare hooks as deprecat

[2022-08-15 08:33] marquiz opened #856 "Drop support for hooks"
**What would you like to be added**:

Deprecate and eventually remove support for hooks in the `local` feature source.

**Why is this needed**:

In #855 @eero-t had a merituos pondering why hooks should removed. Some rationale why hooks are bad and we want to disable them:
- container image maintenance and size
- feature files provide basically the same functionality with a more controllable/maint

[2022-08-15 11:38] eero-t commented on #856
I would propose NFD to drop the big image completely, and add an initcontainer that removes host source.d/ subdirectory content, if it exists ("os.removeAll(path)").  All this should of course have prominent warnings in NFD release notes and worker log.

I.e. if one wants to continue using hooks, one would need to restart things installing hooks, in addition to downgrading back to NFD version supp

[2022-08-15 11:52] eero-t opened #857 "Life-cycle management for external features"
**What would you like to be added**:

Implementation and documentation for life-cycle management of external features (split from #855).

**Why is this needed**:

Issues / missing:

* Documentation: what party is supposed to clean out the obsolete features and how?
* Functionality: what happens if e.g. Pod adds differently named hook binary or feature file on each run, or some test Pods run year a

[2022-08-15 13:15] eero-t opened #858 "Add inter process communication API for external features"
**What would you like to be added**:

Local socket API to specify and update NFD external feature labels.  This is extension of #857.

**Why is this needed**:

Hooks are going away for reasons explained in #855 / #856, whereas life-cycle management (#857) and updating [1] feature files is somewhat annoying.

[1] because one needs use atomic file write to avoid races between feature file write and

[2022-08-15 13:18] eero-t commented on #858
FIFOs in non-blocking mode could also be used for this instead (or in addition to) sockets.   This would allow clients to be shell scripts in addition to real programs.

[2022-08-15 13:25] eero-t commented on #858
One advantage of socket based API compared to hooks is that client decides how often it needs to check system for updates.  My recommendation would be for NFD to send clients a default update interval (given on NFD command line) when it connects them.

Clients can choose to ignore it, if their command line specifies an override, but by default they should heed it. This makes it easier for k8s admi

[2022-08-15 13:26] eero-t commented on #855
Added separate tickets for the life-time management improvements, and for adding socket API for external features.

[2022-08-15 13:39] eero-t commented on #426
@marquiz That was merged over half a year ago, to a release done on March.

Is this ticket still open until all ARM targets supported by dockerx have been added?

[2022-08-15 13:53] eero-t commented on #856
I would propose that:
* #858 is implemented before this (if accepted), as it's an alternative for labels that may need to be updated during NFD run-time
* #857 is implemented at the same time as this, so that features moved from hooks to feature files need to be updated only once

[2022-08-15 15:03] eero-t commented on #857
K8s admin needing to create tmpfs on every node to make sure host mounted things will get cleaned out eventually, is quite ugly.

One way to improve this would be kubelet supporting some kind of node-local / named "emptyDir" volume which could be shared between pods running the same node:
[code]

Kubelet would create a directory somewhere when first pod/container requests it, and share it to every

[2022-08-16 07:48] marquiz opened #859 "Config option to disable hooks"
**What would you like to be added**:

Add a config file option to disable hooks of the `local` feature source, e.g.
[code]

Also, add a disclaimer in docs and logs that hooks are now deprecated and will be disabled in a future release (and eventually removed alltogether).

**Why is this needed**:

First step of #856.

[2022-08-16 07:48] marquiz commented on #859
/cc @zvonkok
ping @mythi

[2022-08-17 07:45] mythi commented on #856
running the source binaries in our initContainers (instead of using the initContainers to install the binaries) and piping the output to, e.g., `tee /etc/kubernetes/node-feature-discovery/features.d/foo.feature` should work equally well.

[2022-08-17 07:50] mythi commented on #858
not from device plugins perspective but a generic comment: worker API for this sounds unnecessary since the external features could also be pushed to master directly, right?

[2022-08-17 12:58] eero-t commented on #858
This ticket could be pivoted from local NFD worker API to master remote service API instead, assuming one is suitable for updating features directly.

Looking at NFD master code:
* https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/cmd/nfd-master/main.go#L77
* https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/pkg/nfd-master/nfd-master.go#L411
* https://github

[2022-08-18 04:48] marquiz commented on #858
Nope, it can't atm. Sending a labeling request removes all other labels from the node, i.e. in practice each node can only have one client. One inconvenience from the deployment pov would also be setting up TLS authentication.

Moreover, there is a plan to ditch the gRPC communication completely and replace it with a CRD API (#828). Maybe that could provide a meaningful way for extensions to creat

[2022-08-19 05:53] fmuyassarov commented on #859
I'm interested to work on this issue
/assign

[2022-08-19 13:52] stek29 opened #863 "Discover node features as annotations"
**What would you like to be added**:
Discover node features as annotations instead of labels

**Why is this needed**:
Some features don't feel like they belong to labels – some extra info about topology or internal info, which won't be used for scheduling or in selection, but is nice to have on Node.
Also, there are limits on label contents in contrast to annotations.

[2022-08-19 14:39] marquiz commented on #859
That would be great! 😊

[2022-08-19 14:45] marquiz commented on #863
Hmm, we just talked about this with @fmuyassarov yesterday (iirc) and I said that yeah, it should be fairly straightforward but nobody has requested it and so there's prolly no use/need for it 😅

So, I don't oppose and I think it could be useful in some scenarios as you described. I'd say the way to support annotations would be through [NodeFeatureRule objects](https://kubernetes-sigs.github.io/no

[2022-08-19 15:16] stek29 commented on #863
there's more to discuss before submitting any patches though :)

Should annotations be supported in nfd-worker config, or should they be exclusive for `NodeFeatureRole`s?
_I think supporting them in NFRs only is enough_

Should there be additional flag, like `extraLabelNs`? or should same "namespaces" be allowed as for labels implicitly?
_I think there should be different flag for annotations_

Wh

[2022-08-19 15:35] marquiz commented on #863
For sure 😓 And give others time to chime in, too.

Good question. I was pondering this yesterday when thinking about #540. Whatever we do I think taints and annotations should do the same. I'm inclined to agree with you that `NodeFeatureRule` could be enough. Even if it would mean "imparaity" between NFR and the worker config  and might cause some confusion. Implementing it in worker-config wouldn

[2022-08-19 15:41] stek29 commented on #863
@marquiz I'm also thinking taints and annotations are related and can be implemented in a similar way

[I've posted some thoughts on it on slack](https://kubernetes.slack.com/archives/C01A82FKSQK/p1660923321999849), copying here too:

[2022-08-19 15:48] stek29 commented on #863
What about using `feature.node.kubernetes.io/` or some other value instead, and explicitly disallowing annotations with prefix `nfd.node.kubernetes.io/` – those are used for bookkeeping and other tasks, so allowing user-generated annotations in that namespace would make it impossible to safely add new annotations for internal usage or bookkeeping

[2022-08-21 23:26] stek29 opened #864 "Templates don't work on NodeFeatureRule with MatchAny only"
**What happened**:
I've stumbled into it while sketching a PR for adding annotations with nfd, so I'm opening this issue just for tracking purposes.

**How to reproduce it (as minimally and precisely as possible)**:
Run tests from submitted PR without the fix in submitted PR.

[2022-08-23 13:43] marquiz opened #870 "Release v0.11.2"
## Release Checklist

- [x] All [OWNERS](https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/OWNERS) must LGTM the release proposal
- [x] Verify that the changelog in this issue is up-to-date
- [x] For major releases (v0.$MAJ.0) create new release branch
  - [x] an OWNER creates a vanilla release branch with
        `git branch release-0.$MAJ master`
  - [x] An OWNER pushes the n

[2022-08-23 13:45] marquiz commented on #870
- build with latest golang (#869)
- fix templating (backport #865)
- fresh build to address #853

[2022-08-23 13:49] ArangoGutierrez commented on #870
👍🏽

[2022-08-23 13:51] ArangoGutierrez commented on #856
I have had sooooo many conversations recently, that I can't not support this issue moaaaarrr.
👍🏽 👍🏽

[2022-08-23 16:55] #864 closed

[2022-08-23 17:40] marquiz commented on #870
ping @Ethyling @adrianchiris
@zvonkok is on vacation

[2022-08-23 17:45] Ethyling commented on #870
👍

[2022-08-24 06:26] adrianchiris commented on #870
+1

[2022-08-24 10:31] eero-t commented on #832
Why "cpu-security" instead of "cpu.security"?   If it's a subdomain, I think it should be separated by a dot...

[2022-08-24 10:48] ArangoGutierrez commented on #870
https://github.com/kubernetes/k8s.io/pull/4130#pullrequestreview-1083570926

[2022-08-24 15:24] marquiz commented on #870
GitHub release page:
https://github.com/kubernetes-sigs/node-feature-discovery/releases/tag/v0.11.2

Release announcement:
https://groups.google.com/a/kubernetes.io/g/dev/c/1ahm6w--VLE

[2022-08-24 15:29] marquiz commented on #870
Yeah, now all boxes ticked
/close

[2022-08-24 15:29] #870 closed

[2022-08-24 15:32] marquiz commented on #853
@gseidlerhpe v0.11.2 (#870) should fix this issue. Close?

[2022-08-24 17:05] gseidlerhpe commented on #853
@marquiz unfortunately the v0.11.2 image still has critical and high vulnerabilities (mostly Debian and Go).

The basic docker scan (Snyk 1.827.0) lists 1 critical and 1 high:
✗ High severity vulnerability found in gcc-8/libstdc++6
  Description: Information Exposure
  Info: https://snyk.io/vuln/SNYK-DEBIAN10-GCC8-347558
  Introduced through: gcc-8/libstdc++6@8.3.0-6, apt@1.8.2.3, meta-common-pack

[2022-08-25 06:20] marquiz commented on #832
Domain might be a bit misleading here as it's the name of the "feature source" (which are arranged somewhat one per "hw or system domain"). Using dash here dates back to the early days of nfd. It might be a bit confusing that in `NodeFeatureRule`s we use dots (like `feature: cpu.cpuid`) but I don't see changing this would be needed. Or if it is it's a separate issue 😄

[2022-08-26 13:19] fmuyassarov opened #879 "Add Tilt configuration for better developer experience"
**What would you like to be added**:
Tilt configuration file. Tilt.dev is tool that automates many of the steps that developers would otherwise
perform manually when working on a code and testing it locally. For example, when making changes to
NFD worker code, I would like to test my changes before submitting patches and for that I have to build
1. container image
2. push it to a registry
3. updat

[2022-08-26 13:22] fmuyassarov commented on #879
I've an example of the Tiltfile in here https://github.com/fmuyassarov/node-feature-discovery/commit/152f3cca424f8873ad1c1ea016c7a16bd32742d8. It is dirty and requires changes but it is good enough to get the taste of the Tilt.

[2022-08-30 09:53] fmuyassarov commented on #562
I can help with this task if nobody is working on it already
@ArangoGutierrez @marquiz

[2022-08-31 08:10] fmuyassarov commented on #879
/assign

[2022-08-31 08:24] fmuyassarov commented on #540
I'm interested to work on this.
/assign

[2022-09-01 08:23] fmuyassarov commented on #863
Hi @stek29 . I'm about to start working on [feature to allow optionally setting taints based on node properties]( https://github.com/kubernetes-sigs/node-feature-discovery/issues/540). Can you please confirm that you are not working on adding taints and only annotations so that I don't interfere with your work in case you are planning to ?

[2022-09-01 09:18] stek29 commented on #863
@fmuyassarov I'm not working on taints since annotations haven't been looked at anyway, I'm waiting on review on annotations.

[2022-09-01 10:27] fmuyassarov commented on #863
thanks for confirming, I will then try to submit a patch for the taints soon.

[2022-09-02 09:58] fmuyassarov commented on #849
Hi @ionutnechita
By default those cpu features are disabled from publishing via [attributeBlacklist](https://github.com/kubernetes-sigs/node-feature-discovery/blob/5d88692b198907b43bfea4f975889441109f3ca3/deployment/components/worker-config/nfd-worker.conf.example#L26). If you want to enable them, I would suggest you either to edit your configMap (namespace: `node-feature-discovery`, name:  `nfd-w

[2022-09-02 10:03] fmuyassarov commented on #849
Example of labels set on my minikube node after removing default blacklisted features
[code]

[2022-09-05 10:15] eero-t commented on #858
If one wants to get rid of a host volume too, k8s has a (v1.23) Beta feature (enabled by default) which can help...

When Pod `spec.internalTrafficPolicy` is set to `Local`, only node local endpoints are considered for a service: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/2086-service-internal-traffic-policy/README.md

I.e. one would be using network socket instead of

[2022-09-05 12:49] eero-t opened #883 "Disable enableServiceLinks feature in NFD master pod"
**What would you like to be added**:

`spec.enableServiceLinks: false` to _nfd-master_ service pod spec.

**Why is this needed**:

See: https://github.com/kubernetes/kubernetes/issues/92615

(Kubernetes itself is not going to default that to false as that would break its core API compatibility, so each service pod should set that option when service is accessed by its "<service>[.<namespace>]" DNS

[2022-09-06 05:19] marquiz commented on #883
Why not. Even though we're not expecting to see thousands of services in the nfd namespace

[2022-09-06 07:12] stek29 opened #884 "Allow changing master port in helm chart"
**What would you like to be added**:
A Value in helm chart to change port nfd master listens on

**Why is this needed**:
In some setups network policies and firewalls also consider `port` after service translation, so `service.port` is not enough

[2022-09-06 11:56] marquiz commented on #805
I'm not actually able to reproduce this issue. I see kubelet read/access the file but NFD behaves as expected and doesn't experience any spurious re-labeling because of that. I don't have RHEL 8 though so maybe it's something specific to its kernel or the underlying fs 🧐

[2022-09-06 19:06] #879 closed

[2022-09-07 12:01] fmuyassarov opened #886 "Use Netlify as documentation preview tool"
**What would you like to be added**:
Netlify deployment

**Why is this needed**:
When submitting a PR, reviewers don't have a way to preview the changes on a deployed site until patch is merged and GitHub Action rebuilds the latest documentation. Adding an option to preview the doc changes (on live site) would avoid missing potential documentation bugs. In fact, reviewing based on the markdown is

[2022-09-07 17:59] marquiz commented on #886
I think this would be really cool and a great improvement 👍 I think the way forward would be to [open a request in kubernetes/org](https://github.com/kubernetes/org/issues/new/choose)

[2022-09-07 19:49] fmuyassarov commented on #886
Awesome. Request is submitted now: https://github.com/kubernetes/org/issues/3665

[2022-09-08 08:05] fmuyassarov commented on #778
I think it is better we keep discussion notes here. So, I will copy paste my comments here from the PR.

This is a breaking change, and usually in k8s for such a change it takes ~3-4 releases to remove a feature. Example: [rename "node-role.kubernetes.io/master" ](https://github.com/kubernetes/kubeadm/issues/2200) `node-role.kubernetes.io/master` label & taint renaming in Kubeadm, they had both la

[2022-09-08 08:09] fmuyassarov commented on #778
/assign

[2022-09-08 08:40] marquiz commented on #778
Yup 👍

[2022-09-12 11:42] ArangoGutierrez commented on #778
What if for a next step we make it optional?
in the CRD add an entry `short namespace :yes/no`

thoughts?

[2022-09-12 12:18] fmuyassarov commented on #778
As per discussion on the [slack](https://kubernetes.slack.com/archives/C01A82FKSQK/p1662963765877289), I was thinking of introducing a flag to turn on/off the new label but I'm also fine with the CRD as well. TBH, I don't have a strong opinion which was one is better.

[2022-09-12 13:17] marquiz commented on #778
What CRD are you referring to? If it's operator then sure. But this needs to be a single config option in nfd-master (i.e. cluster-wide)

[2022-09-12 13:20] ArangoGutierrez commented on #778
yes, I agree, it should be a flag. see the slack link above

[2022-09-19 11:08] eero-t opened #896 "nfd-worker constantly spams log & nfd-master on feature discovery errors"
**What happened**:

NFD worker spams its log and _nfd-master_ **30 times per second** (at 30ms interval):
[code]

**What you expected to happen**:

NFD outputs logs and communicates label changes only when things actually change. Or at least at some reasonable interval.

(Kernel config cannot change without reboot, or modprobe/rmmod for "configs" kernel module, and that's not going to happen multi

[2022-09-19 11:51] eero-t commented on #896
Could not reproduce this, so I'm not sure what exactly are all the triggering conditions.  But it has not happened on nodes (with older kernels) where `/proc/config.gz` is present, and that's the only error still visible in NFD logs, so it must be at least one of the conditions.  I.e. cause needs to be found, and fix verified, with code inspection...

[2022-09-19 12:40] eero-t commented on #896
Potentially related: #805

(I did not `strace` nfd-worker when it was busy-polling for feature updates, so it's possible that some inotify things was acting weird without me noticing.)

[2022-09-19 18:48] marquiz commented on #896
nfd-worker tries multiple different locations:
https://github.com/kubernetes-sigs/node-feature-discovery/blob/8199cb3f13c421f7b316d3092d207c3456e45d7e/source/kernel/kconfig.go#L71
(rather limited set of locations if it's unable to determine the kernel version).

However, this error has nothing to do with continuous "spamming". NFD is stateless, simple and stupid and does full re-discovery every 60

[2022-09-19 20:37] eero-t commented on #896
Spamming part was it doing this constantly at 0.03s interval (on node missing `config.gz`), not at the expected 60s interval (like all other nodes). There was kernel config file on disk, but not at the locations checked. `core.sleepInterval` was not changed.

After modprobing `configs` module + restarting `nfd-worker`, the issue disappeared.  It did not come back although `configs` module was remo

[2022-09-20 08:06] marquiz commented on #896
Hmm, thanks for the clarification. 0.03s was not seen in the log snippet you attached. That really shouldn't happen and I can't immediately figure out how that could happen. But that needs to be investigated

[2022-09-20 20:26] marquiz commented on #896
It only re-wires the timer after the labeling has been completed. So 30ms in this case is the time it takes to re-discover/re-label. I think that could be easily changed by using e.g. `time.Tick` instead if that matters

[2022-09-21 08:06] eero-t commented on #896
I think it would be surprising to user if e.g. with features taking 50% of the interval, query interval would be 150% of the specified.

IMHO NFD should output an error if queries take longer than the specified interval.  And maybe a warning, if they take more than half of it.

[2022-09-22 08:15] eero-t commented on #896
The kernel I was using (drm-tip 6.0.0-rc5) had a bug (splice() semantics change e.g. messing disk writes) that's fixed in in newer RC release, which may have been causing this issue => Feel free to close this issue if you think code is fine.

[2022-09-22 09:06] marquiz commented on #896
K, thanks for the update. I'm closing this for now as by reading the code I cannot figure out how this could happen in NFD. We can re-open if we ever see this again.

Feel free to submit new issues about the improvements in sleep-interval you suggested 😊

/close

[2022-09-22 09:06] #896 closed

[2022-09-22 09:36] eero-t opened #899 "Improve "core.sleepInterval" handling"
**Why is this needed**:

Currently the time interval NFD takes between feature checking / labeling could differ significantly from the interval specified by the user, because it's used as an extra delay between activity, not an interval between them.  If some hook takes 50% of the interval time, the reporting interval is >= 150% of the specified interval value.

**What would you like to be added**

[2022-09-26 15:40] mantramantra12 opened #900 "nfd-worker pods running on non-control plane node repeatedly crash in error loop"
Hi there, I'm trying to get NFD working in my k8s cluster. I have 3 nodes in my cluster; two workers and a control plane.
Immediately after installing, the nfd-worker pods working on the two worker nodes go into a crash, restart, repeat loop. Logs from one of the workers;
[code]

Additionally, if I try to get logs from the `nfd-master` pod or the `nfd-worker` pod that runs on the control plane, I

[2022-09-26 17:40] #859 closed

[2022-09-26 20:03] fmuyassarov commented on #849
Hi @ionutnechita. Is this issue still relevant or can we close it ?

[2022-09-26 23:26] fmuyassarov commented on #900
Hi @mantramantra12 . Your NFD worker is not able to connect to the master or be exact gRPC-Go client can't connect to the server and channel connectivity is not reaching the READY state. How are you installing the NFD ?

[2022-09-27 07:14] marquiz commented on #900
Seems like nfd-master is not running at all. What do you get with `kubectl describe <nfd-master-pod>`?

[2022-09-27 08:26] mantramantra12 commented on #900
Installing NFD with `kubectl apply -k https://github.com/kubernetes-sigs/node-feature-discovery/deployment/overlays/default?ref=v0.11.2` as per quick start installation guide.

`kubectl describe <nfd-master-pod>` gives `Error from server (NotFound): pods "<nfd-master-pod>" not found`, despite the pod being shown as 'Ready' with `kubectl get pods -n node-feature-discovery`

[2022-09-27 08:30] mantramantra12 commented on #900
If I do `kubectl get no -o json | jq .items[].metadata.labels`, only the control plane node has NFD labels

[2022-09-27 11:15] marquiz commented on #900
I meant to use the name of the actual pod, but this should work too
[code]

[2022-09-27 11:45] mantramantra12 commented on #900
Name:         nfd-master-659d87f8d9-xzddh
Namespace:    node-feature-discovery
Priority:     0
Node:         nodename/nodeip
Start Time:   Mon, 26 Sep 2022 15:32:13 +0000
Labels:       app=nfd-master
              pod-template-hash=659d87f8d9
Annotations:  cni.projectcalico.org/containerID: <containerID>
              cni.projectcalico.org/podIP: 192.168.27.39/32
              cni.projectcalico.or

[2022-09-28 09:39] fmuyassarov opened #902 "E2E infra migration"
**What would you like to be added**:
Run E2E tests on dedicated baremetal machines as a presubmit job for every future PR.
 **Why is this needed**:
Current infra (an AWS cluster) doesn't allow us to run more than one instance of E2E test in parallel because they all would need to run on the same K8S cluster, which potentially might break tests due to the overlap. Because of that we only have a pos

[2022-09-28 09:39] fmuyassarov commented on #902
/assign

[2022-09-28 11:53] marquiz commented on #902
This would be really cool.

[2022-09-28 13:04] fmuyassarov commented on #900
That's because your controlplane node doesn't allow scheduling pods by default. As such, nfd worker pod can't be scheduled on that node, so no labeling. To enable, you need to untaint your controlplane node, which will allow NFD to start a worker pod on your controlplane node.
`kubectl taint node `<node-name>` node-role.kubernetes.io/control-plane-`

[2022-09-28 13:54] fmuyassarov commented on #828
We probably still want this at some point
/remove-lifecycle stale

[2022-09-30 07:53] marquiz commented on #805
ping @mac-chaffee are you still seeing this? Could it be something that has been fixed after k8s v1.21?

/cc @fmuyassarov

[2022-09-30 17:55] mac-chaffee commented on #805
Also I did test-driven development for #806, so if that test still fails when run against the latest version of nfd, then the bug still exists since the test simulates AtomicWriter.

[2022-10-03 07:43] marquiz commented on #805
Could it be something filesystem or kernel-specific then 🤨 As I haven't really been able to reproduce this. What fs and kernel are you using?

[2022-10-03 18:37] fmuyassarov commented on #886
fixed by vhttps://github.com/kubernetes-sigs/node-feature-discovery/pull/895 & https://github.com/kubernetes/org/issues/3665

[2022-10-10 07:57] fmuyassarov commented on #805
/remove-lifecycle rotten

[2022-10-13 08:47] #722 closed

[2022-10-13 08:49] Chandan-Abhyankar opened #913 "Invalid feature name 'cpu-cpuid.' warning is shown in nfd-worker pod logs"
**What happened**:
Invalid feature name 'cpu-cpuid.' warning is shown in nfd-worker pod logs
**What you expected to happen**:
Invalid feature name 'cpu-cpuid.' warning should not be shown in nfd-worker pod logs
**How to reproduce it (as minimally and precisely as possible)**:
Install necessary pre-requisites
e.g. git, make, podman-docker, go etc

Take the latest code from master branch
git clone h

[2022-10-13 11:11] marquiz commented on #651
/remove-lifecycle stale

[2022-10-13 11:12] marquiz commented on #723
I think this is still worth doing.
/reopen

[2022-10-13 11:13] marquiz commented on #723
/remove-lifecycle rotten

[2022-10-13 12:06] marquiz commented on #913
@Chandan-Abhyankar thanks for reporting this.

I don't have ppc64 HW myself so I cannot verify test this. But I suspect this would fix would fix the immediate issue:
https://github.com/kubernetes-sigs/node-feature-discovery/pull/914

Ping @yselkowitz who is the author of the ppc64 cpuid support. Seems that our set of cpuid flags would need an update.

BTW @Chandan-Abhyankar you don't need to edit

[2022-10-17 10:41] nmathew opened #922 "topology-updater: "Scan failed: checking if pod in a namespace is watchable""
Is this a bug, timer is not retriggered?

https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/pkg/nfd-client/topology-updater/nfd-topology-updater.go#L137

this basically happens when pod comes and goes away in short duration, e.g. a pod going from pending to TopologyAffinityError. While Scan() is going on, it issues getPod and if pod is absent, then it gets into this issue.

thi

[2022-10-17 13:20] marquiz commented on #922
ping @fromanirh @swatisehgal you know the code better than me

To me this just sounds like a race condition that can happen with short-lived pods. AFAIU this shouldn't be anything fatal and should be fixed (unless a new race occurs) on the next "round"

[2022-10-17 13:30] marquiz commented on #922
Hmm, now that I took a quick look at the code I think we have a problem:
https://github.com/kubernetes-sigs/node-feature-discovery/blob/0e1a48fdb2f1ff798a2342b42dfb77c62b5e286a/pkg/nfd-client/topology-updater/nfd-topology-updater.go#L138

By calling `continue` we skip arming of the new timer and the event loop effectively stops. It's probably be better to start using `time.Tick` instead.

[2022-10-17 13:33] fromanirh commented on #922
Ah darn, that's bad indeed. Will send a PR ASAP.
Meanwhile we will sync internally about updating this codebase, we are experimenting in this area and there are a possible improvements/refactoring we should be able to submit.

[2022-10-17 14:09] #913 closed

[2022-10-17 15:06] nmathew opened #923 "topology-updater: How to handle partial cpus?"
Today's topology-updater will not handle pods having partial cpu containers.
https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/pkg/resourcemonitor/podresourcesscanner.go#L149

[code]

Most of the deployments will have some partial cpu containers...

[2022-10-17 18:20] nmathew commented on #923
Is this understanding correct?

[2022-10-18 05:15] fromanirh commented on #923
Hi! yes, this is by design because only integral CPU request will trigger a exclusive CPU allocation. We know this decision is not perfect but it's the best tradeoff atm. Did you hit a bug, or do you have a use case which is not covered by this decision?

[2022-10-18 05:52] nmathew commented on #923
Yes, we have dpdk pods which has partial cpu containers. Then this entire accounting goes for a toss.

One more question is on sleep interval, what is the minimum value which we can keep. too much high value will impact scheduling, too low will load the kubelet.
But this mechanism always leads to some race right?...

[2022-10-18 06:06] fromanirh commented on #923
the DPDK usecase is interesting to us, so I'm a bit surprised you don't use exclusive CPU allocation in this case. In the current design, this violates a fundamental prerequisite so yes, the accounting is wrong. If you could share more details about the setup and the expectations, that would be great.

Regarding the sleep interval, yes, true: the more frequent, the bigger the load on the kubelet,

[2022-10-18 06:35] nmathew commented on #923
@fromanirh Thanks for the information.

One more question is, this can create a race when there is frequent scheduling. if sleep interval is larger than scheduling interval, that will result in scheduler taking decision based on stale data right?

[2022-10-18 06:45] fromanirh commented on #923
yes. This is a known gap of the current implementation. The [aforementioned work](https://github.com/kubernetes-sigs/node-feature-discovery/issues/923#issuecomment-1281856770) on both updater and scheduler side is expected to improve (even significantly in some scenarios) these use cases.
Worth pointing out that a bad scheduling decision, bad because based on stale data, is going to *fail to preve

[2022-10-20 06:40] nmathew opened #928 "topology-updater: NRT CRD resourses are not cleaned up, on node deletion(scale-in)"
Node Resource Topology node specific CRD resources are not cleaned up on node deletion(scale-in).
I think this should be part of nfd worker/updater.

[2022-10-20 06:41] nmathew commented on #928
@fromanirh

[2022-10-20 06:46] fromanirh commented on #928
yes, this is a gap. Besides littering the cluster, there is any other impact?

[2022-10-20 08:38] nmathew commented on #928
No functional impact...

[2022-10-20 11:54] #922 closed

[2022-10-21 09:19] lishaokai1995 opened #931 "Network feature detection fails"
**What happened**:
When detecting network features, some files in the `/sys` directory are accessed in the code, but the `yaml` deployment file mounts the system's `/sys` directory to the `/host-sys` directory, which disables the network feature detection. I don't know if this has any effect on other features.
**What you expected to happen**:
The network features can be detected successfully
**How

[2022-10-21 09:20] lishaokai1995 commented on #931
I am using version `0.11.2`

[2022-10-21 12:02] marquiz commented on #931
What deployment mechanism are you using. NFD container is supposed to mount host sysfs under /host-sys. I don't think there's need to make that a dynamic configuration option

[2022-10-24 00:58] lishaokai1995 commented on #931
This is how I deploy:`kubectl apply -k https://github.com/kubernetes-sigs/node-feature-discovery/deployment/overlays/default?ref=v0.11.2`
I mean that even though NFD mounts host sysfs under /host-sys, the code still uses /sys

[2022-10-24 08:21] fmuyassarov commented on #931
I don't think that's is right. The network features source code [reads](https://github.com/kubernetes-sigs/node-feature-discovery/blob/cab617c42e76719159edb96d63e57a9058613b00/source/network/network.go#L116) from /host-sys, example log...
[code]

[2022-10-24 14:35] marquiz commented on #931
Yeah, I don't think it's right, either. `network` source reads from '/host-sys` on the released image

[2022-10-24 14:38] fmuyassarov commented on #931
@lishaokai1995 may I ask what network features are you expecting to see as node labels ?

[2022-10-24 17:57] marquiz commented on #931
BTW, I accidentally spotted one hardcoded sysfs path though: #933

[2022-10-24 19:09] marquiz commented on #931
Yes, and what error are you seeing in logs

[2022-10-24 19:11] marquiz commented on #426
Probably because you don't have cross-build tools for c code. Try docker buildx (`make image-all`)

[2022-10-25 00:46] lishaokai1995 commented on #931
No errors were reported in the log. It's just that the nodes aren't labeled as I expected: `network-sriov.capable=true`.Through debugging, I found that it went to the /sys directory, which is why I raised the issue. But now it turns out it might be me.

[2022-10-25 05:22] fmuyassarov commented on #931
I would suggest to check if virtualization is enabled on the node. Perhaps it is disabled...

[2022-10-25 05:57] liupeng0518 commented on #426
ok , thanks.

[2022-10-25 13:46] fmuyassarov opened #934 "Postsubmit E2E is broken"
Our postsubmit [E2E test](https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/postsubmit-node-feature-discovery-e2e-test) is failing for the last two days. I don't see any potential breaking change that landed within last two days. We had [dependency upgrade](https://github.com/kubernetes-sigs/node-feature-discovery/pull/930), minor [bug fix](https://github.com/kubernetes-sigs/node-feature-

[2022-10-25 21:03] marquiz commented on #934
Dayum 🤦 My PR (#925) caused that breakage. Luckily we have e2e tests to catch that. But we really need to get your presubmit e2e work merged 😊

Thanks for the heads up @fmuyassarov!

[2022-10-25 21:07] marquiz commented on #931
If you build it non-containerized (i.e. `make build`) then it looks at `/sys`. That's for easier debugging/development.

[2022-10-26 09:22] lishaokai1995 commented on #931
I've found the problem now. I will close this issue, thank you.

[2022-10-26 09:22] #931 closed

[2022-10-27 09:03] eero-t commented on #900
I'm not sure whether it's related, but we've seen an issue where cluster nodes (VM nodes running on bare-metal server that acts as cluster master node) run out of memory, and things fail.  And the issue being that _after_ the OOM condition goes away (e.g. by rebooting all the OOMing nodes), other pods [1] recover, but NFD workers do not.  They complain about failing nfd-master communication.

Dele

[2022-10-30 15:53] yotama-anv opened #939 "gpu-operator-nfd-worker fails to read net interface attribute speed"
**What happened**:
Tried to install an online cluster on aws ec2 instances with gpu-operator and the nfd-worker pod kept running with the following log (stuck on a loop):
[code]

**What you expected to happen**:
Support aws ec2 instances without getting the above information from that file.

**How to reproduce it (as minimally and precisely as possible)**:
Install a k3s (v1.19.11) cluster with 3 e

[2022-10-31 07:35] marquiz commented on #939
By default NFD runs in a "loop", doing re-discovery every 60 seconds. If you have any issues with the gpu operator you should file an issue to the nvidia gpu-operator repo.

[2022-10-31 08:09] marquiz opened #940 "Release v0.11.3"
## Release Checklist

- [ ] All [OWNERS](https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/OWNERS) must LGTM the release proposal
- [x] Verify that the changelog in this issue is up-to-date
- [x] For major releases (v0.$MAJ.0) create new release branch
  - [x] an OWNER creates a vanilla release branch with
        `git branch release-0.$MAJ master`
  - [x] An OWNER pushes the n

[2022-10-31 08:10] marquiz commented on #940
One more patch release on v0.11 would feel justifiable

[2022-10-31 09:07] yotama-anv commented on #939
@marquiz Thank you for responding, I'll open an issue to gpu-operator.

[2022-10-31 09:07] #939 closed

[2022-10-31 13:01] marquiz commented on #940
Filed one PR to update deps too: #944

[2022-10-31 20:59] fmuyassarov commented on #940
Although not related, but when is the planned date to cut the release for v0.12.x ?

[2022-11-01 07:18] marquiz commented on #940
When we get the *[stuff](https://github.com/kubernetes-sigs/node-feature-discovery/milestone/6)* merged 😊 I'd hope to see that by the holiday break in December...

[2022-11-01 11:04] marquiz commented on #940
GitHub release page:
https://github.com/kubernetes-sigs/node-feature-discovery/releases/tag/v0.11.3

Release announcement email:
https://groups.google.com/a/kubernetes.io/g/dev/c/yGR2xxHD4QQ

[2022-11-01 11:54] marquiz commented on #940
/close

[2022-11-01 11:54] #940 closed

[2022-11-01 12:06] msivosuo opened #947 "Support for the Future Intel Xeon (SFR and GNR) Instructions"
**What would you like to be added**:
Labeling of new instructions introduced by Intel Xeon Sierra Forest and Granite Rapids platforms: https://software.intel.com/sites/default/files/managed/c5/15/architecture-instruction-set-extensions-programming-reference.pdf

**Why is this needed**:
Allows workloads to utilize all the latest node specific hardware features.

[2022-11-01 13:25] fmuyassarov commented on #947
/assign

[2022-11-02 18:30] fmuyassarov commented on #902
@marquiz do you have access to re-open the issue, because I still have some patches handing around ?

[2022-11-02 18:44] marquiz commented on #902
/reopen

[2022-11-02 18:47] fmuyassarov commented on #902
thank you

[2022-11-03 08:41] #723 closed

[2022-11-04 13:38] marquiz opened #951 "CRD for nfd-worker config"
**What would you like to be added**:

Add a new CRD for managing the nfd-worker configuration. We could/would support the fs based configuration file as a fallback option.

**Why is this needed**:

Some benefits:
- Input validation, able to use e.g. openapi-spec-validation to verify configuration before accepting it
- Much faster response to config changes (no time to wait for kubelet to update th

[2022-11-05 12:43] #817 closed

[2022-11-08 06:17] Z02X commented on #900
I am also having the same output as the op. I tried fallowing this:

I got
[code]
I am guessing I am having a separate issue. I think I just am missing another service to help the master and workers talk but I have no idea where to start.

[2022-11-08 08:05] marquiz commented on #900
NFD uses the standard kubernetes Service mechanism for communication between nfd-worker and nfd-master. There have been N+1 failure reports like this and it's virtually always been a failure in pod networking (cni)

[2022-11-08 11:07] marquiz commented on #485
We still want this (I think) but might need to adjust the milestone...

/remove-lifecycle rotten

[2022-11-08 13:38] marquiz commented on #333
This is still alive and tracking
/remove-lifecycle rotten

[2022-11-09 03:55] Z02X commented on #900
Thank you. I was able to make progress migrating to calico.

[2022-11-09 05:52] carlwang87 opened #953 "trivy image scan lists critical and high vulnerability against latest image k8s.gcr.io/nfd/node-feature-discovery:v0.11.3"
**What happened:**
trivy image scan lists critical and high vulnerability against latest image k8s.gcr.io/nfd/node-feature-discovery:v0.11.3

**What you expected to happen:**
No critical or high vulnerability issues.

**How to reproduce it:**
trivy image --ignore-unfixed --severity HIGH,CRITICAL --format template --template "@/usr/local/share/trivy/templates/html.tpl" -o report.html  k8s.gcr.io/nf

[2022-11-11 11:09] mantramantra12 commented on #900
So I found the cause of my problem was that my cluster is configured with linkerd which auto-injects proxies into pods, so I had to add a policy to allow communication between worker pods and master pods

[2022-11-11 11:09] #900 closed

[2022-11-14 07:40] vaibhav2107 commented on #650
/remove-lifecycle stale

[2022-11-14 09:29] haubenr opened #957 "Add specific IBM zSystems model detection and label to s390x nodes"
**What would you like to be added**:

Knowing which particular IBM zSystems model (e.g. z15, z16) a particular s390x cluster node is running on might be beneficial to IBM zSystems users, especially when it comes to particular HW features that are only present in a specific IBM zSystems machine generation.

**Why is this needed**:

See above.

[2022-11-14 10:48] marquiz commented on #855
/remove-lifecycle stale

[2022-11-21 10:18] Tal-or opened #962 "E2E tests are falling"
**What happened**:
`Node Feature Discovery` e2e tests are falling :
The falling tests are under `test/e2e/node_feature_discovery.go`
1.
[code]
2.
[code]

**What you expected to happen**:
It should passes

**How to reproduce it (as minimally and precisely as possible)**:
Run the tests on kind cluster:
`make  e2e-test`

**Anything else we need to know?**:
N/A

**Environment**:
- Kubernetes version:

[2022-11-21 15:34] marquiz commented on #856
/remove-lifecycle stale

[2022-11-22 11:13] oreillymj opened #963 "Consider moving to a more minimal container base image."
Please consider moving to either alpine or distroless container base image for NFD

The existing debian image is introducing all sorts of exploitable security vulnerabilities into a users K8's distribution when they deploy NFD. See trivy ( https://github.com/aquasecurity/trivy  ) scan of the latest container images and associated issues.

Apologies for the format mangling, but copying out the text

[2022-11-22 11:22] marquiz commented on #963
We're in the process of changing the default base image. See:

[2022-11-23 07:18] marquiz commented on #832
/remove-lifecycle stale

[2022-11-23 12:37] vaibhav2107 commented on #853
/remove-lifecycle stale

[2022-11-29 09:06] fmuyassarov commented on #540
/remove-lifecycle stale
/lifecycle active

[2022-11-29 09:07] fmuyassarov commented on #540
this is being reviews right now in https://github.com/kubernetes-sigs/node-feature-discovery/pull/910

[2022-11-30 11:21] fmuyassarov commented on #863
/remove-lifecycle stale
I shall come back to it very soon.